ins-card-select {
  .ins-card-select-wrap {
    margin-bottom: 20px;
  }
  .ins-card-select-label-wrap {
    font-family: var(--ins-font-family);
    font-size: 12px;
    font-weight: 600;
    color: var(--ins-color-ink);
    display: block;
    line-height: 1.4;
    min-height: 20px;
  }
  .ins-card-select-wrap.disabled {
    .ins-card-select-label-wrap {
      color: var(--ins-color-ink40);
    }
  }
  .ins-form-error {
    display: block;
    font-size: 12px;
    font-family: var(--ins-font-family);
    line-height: 16px;
    color: var(--ins-color-negative);
    margin-bottom: 20px;
  }
  .ins-card-select-option-wrap {
    margin: 0 -12px;
    margin-bottom: 4px;
    width: calc(100% + 24px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    > div {
      width: calc(100% + 24px);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }
  }
  .ins-card-select-wrap.is-invalid {
    .ins-card-select-label-wrap {
      color: var(--ins-color-negative);
    }
    .ins-card-select-option-wrap {
      margin-bottom: 0;
    }
  }
}