ins-drawer {

  .ins-drawer-wrap {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;

      ins-backdrop { display: none; }
      .ins-content {
        background: #fff;
        position: fixed;
        z-index: 9999;
        width: 420px;
        height: 100vh;
        max-height: 100vh;
        box-sizing: border-box;
        transition: right 0.35s;
        -webkit-transition: right 0.35s;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.10);
        -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.10);
        overflow: auto;
        right: -420px;

        @media screen and (max-width: 468px) {
          width: 100%;
          right: -100%;
        }
        &.left {
          right: initial;
          left: -420px;
          transition: left 0.35s;
          -webkit-transition: left 0.35s;

          @media screen and (max-width: 468px) {
            right: initial;
            width: 100%;
            left: -100%;
          }
        }

        .ins-drawer-body {
          padding: 20px;

          &.no-padding {
            padding: 0;
          }
        }

      }
      &.opened {
        .ins-content {
          right: 0;
          &.left {
            right: initial;
            left: 0;
          }
        }
        ins-backdrop { display: block; }
      }
  }

  .ins-drawer-header {
    padding: 20px;
    position: relative;

    &.bordered {
      border-bottom: solid 1px #E4E6EC;
    }
    &.sticky {
      position: fixed;
      top: 0;
      width: inherit;
      z-index: 5;
      background-color: #ffffff;
      box-sizing: border-box;
      
      & + .ins-drawer-body {
        margin-top: 80px;
      }
    }
    h4 {
        display: inline-block;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        margin: 0;
        color: #2c3148;
        padding-right: 20px;

        span { margin-right: 5px; }
    }
    .ins-drawer-close-btn {
        position: absolute;
        outline: none;
        top: calc(50% - 8px);
        right: 20px;
        color: #8c94a4;
        border: none;
        background: transparent;
        padding: 0;
        font-size: 16px;
        box-sizing: border-box;
        cursor: pointer;
    }
  }
}
