.ins-loader-wrap {
  width: 100%;
  text-align: center;

  &--state {
    max-width: 70px;
    margin: 0 auto 25px;

    svg,
    img {
      width: 100%;
    }
  }

  &--title {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--ins-color-green);
    margin-top: 0;

    &.warning {
      color: var(--ins-color-warning);
    }
    &.help {
      color: var(--ins-color-information1);
    }
    &.error {
      color: var(--ins-color-negative);
    }
  }

  &--message {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--ins-color-ink);
    margin-top: 16px;
  }

  .cls-1 {
    fill: #323d53;
  }

  .positive .cls-1,
  .green .cls-1 {
    fill: var(--ins-color-success);
  }
  .warning .cls-1 {
    fill: var(--ins-color-warning);
  }
  .negative .cls-1 {
    fill: var(--ins-color-negative);
  }
  .information-1 .cls-1 {
    fill: var(--ins-color-information1);
  }
  .information-2 .cls-1 {
    fill: var(--ins-color-information2);
  }
  .blue .cls-1 {
    fill: var(--ins-color-blue);
  }
  .turquoise .cls-1 {
    fill: var(--ins-color-turquoise);
  }
  .grey .cls-1 {
    fill: var(--ins-color-grey);
  }

  @keyframes anim-rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spinner {
    animation: anim-rotate 3s infinite linear;
  }
}
