.ins-modal-wrap.show-modal {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  box-sizing: border-box;

  ins-card {
    position: fixed;
    top: 10%;
    z-index: 9999;
    min-width: 320px;

    .ins-card-wrap {
      padding: 0;
      height: 100%;
      border: none;
      box-shadow: 0px 8px 21px $ink;
      position: relative;

      &:hover {
        box-shadow: 0px 8px 21px $ink;
      }
    }
  }

  &.light {
    ins-card .ins-card-wrap {
      box-shadow: 0px 8px 21px $ink40;

      &:hover {
        box-shadow: 0px 8px 21px $ink40;
      }
    }
  }

  .ins-modal-head {
    box-sizing: border-box;
    position: relative;
    padding: 18px 56px 14px 20px;
    border-bottom:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    h1 {
      color: var(--ins-color-ink);
      font-size: 24px;
      font-weight: 300;
      font-family: var(--ins-font-family);
      margin-bottom: 20px;
      margin: 0;
    }

    .icon-close-1 {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px;
      cursor: pointer;
    }

    &.no-heading {
      border-bottom: 0;

      .icon-close-1 {
        top: 10px;
        right: 10px;
      }
    }
  }

  .ins-modal-body {
    position: absolute;
    width: 100%;
    height: calc(100% - 162px);
    left: 0;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
  }

  .ins-modal-button-wrap {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 15px 12px;
    border-top:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    button {
      min-width: 82px;
      margin: 0 8px;
    }

    &.text-center {
      text-align: center;
    }

    &.text-left {
      text-align: left;
    }

    &.text-right {
      text-align: right;
    }
  }

  &.auto {
    .ins-modal-body,
    .ins-modal-button-wrap {
      position: relative;
    }
  }

  &.no-button {
    .ins-modal-body {
      height: auto;
    }
  }
}
.ins-modal-wrap {
  display: none;
}
