.ins-header-user-wrap {
  display: inline-block;
  // margin-top: 17px;
  padding: 0 30px;
  position: relative;
  text-align: left;

  .ins-card-wrap {
    padding: 0;
  }

  .icon-keyboard-arrow-up {
    display: none;
  }

  .btn-nav.ins-huw-toggle {
    margin: 0;
    padding: 10px;
    font-size: 14px;
    color: var(--ins-color-white);
    border: none;
    background: none;
    position: relative;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
    font-family: var(--ins-font-family);
    display: block;
    height: 56px;
    opacity: 0.5;

    .toggle-icon {
      font-size: 6px;
      position: absolute;
      top: calc(50% - 3px);
      right: 10px;
    }
  }

  .ins-header-user-options {
    width: 130%;
    min-width: 174px;
    position: absolute;
    right: 26px;
    top: 56px;
    box-sizing: border-box;
    padding: 10px;
    display: none;
    z-index: 9999;

    ul {
      padding: 0;
      margin: 10px 0;
      list-style: none;

      li {
        padding: 10px 20px;

        a {
          text-decoration: none;
          color: var(--ins-color-ink40);

          [class^="icon-"] {
            margin-right: 15px;
          }
        }

        &:hover {
          background-color: #e4e6ec;
          // background-color: rgba(0,0,0,0.01);
        }
      }
    }
    &:hover {
      display: block;
    }
  }
}

.ins-header-user-wrap.active {
  .btn-nav.ins-huw-toggle {
    opacity: 1;
  }
}

.ins-header-user-wrap:hover {
  .btn-nav.ins-huw-toggle {
    opacity: 1;
  }

  .icon-keyboard-arrow-down {
    display: none;
  }

  .icon-keyboard-arrow-up {
    display: block;
  }

  .ins-header-user-options {
    display: block;
  }
}

.ins-header-mobile-view {
  display: none;
  .ins-header-mobile-view__user,
  .ins-header-mobile-view__logout {
    padding: 15px 0;
    a, i {
      color: #ffffff;
      // opacity: 0.5;
      font-size: 14px;
      font-family: var(--ins-font-family);
      display: inline-block;
      vertical-align: middle;
    }
    i {
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width: 630px) {
  .ins-header-mobile-view {
    display: block;
  }
}