ins-sidebar-item {

  div.ins-sidebar-item-wrap {
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;

    a {
      color: var(--ins-color-ink40);
      text-decoration: none;
      font-size: 14px;
      display: block;
      padding-right: 16px;
      padding-left: 18px;
      padding-top: 14px;
      padding-bottom: 15px;
      position: relative;
      box-sizing: border-box;
      width: 240px;
      height: 48px;
      transition: width .5s ease-in-out;

      .fas {
        color: #1E86E3;
        margin-right: 13px;
        display: inline-block;
        width: 18px;
        position: relative;
        top: 4px;
        vertical-align: top;
      }

      &:hover {
        color: var(--ins-color-ink);
        font-family: var(--ins-font-family);
        font-size: 14px;
        // font-weight: 600;
        background-color: #e4e6ec;
        // background-color: #ccced3;
        // background-color: transparent;
      }

      .ins-sidebar-item-label {
        opacity: 1;
        transition: opacity .35s ease-in-out;
        transition-delay: .5s;
        display: inline-block;
        width: 83%;
      }
    }

    .fas.icon-chevron-right {
      font-size: 10px;
      color: var(--ins-color-ink40);
      position: absolute;
      top: calc(50% - 5px);
      right: 0;
      opacity: 1;
      transition: opacity .5s ease-in-out;
    }

    .submenu-wrap {
      display: none;
      position: absolute;
      background-color: var(--ins-bg-color4);
      box-sizing: border-box;
      width: 240px;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1001;
      padding: 16px 0;

      &.is-active {
        display: block;
        overflow: auto;
      }

      .btn-nav-wrap {
        padding: 16px;

        .btn-nav {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: 14px;
          color: #1E86E3;
          font-size: 14px;
          font-weight: 600;
          display: block;
          padding: 2px 0;

          .fas {
            color: #1E86E3;
            margin-right: 16px;
            display: inline-block;
            width: 18px;
          }
        }
      }
    }

    .hide-slot {
      display: none;
    }

    &.active > .ins-ripple-button > a {
      background-color: #e4e6ec;
      color: var(--ins-color-ink);
      font-weight: 600;
      border-left: solid 3px #1E86E3;
      box-sizing: border-box;
      padding-left: 15px;
    }
  }
}

html {
  -webkit-tap-highlight-color:black;
}
.ins-ripple-button {
  width: 100%;
  -webkit-appearance: none;
  position: relative;
  background: transparent;
  display: block;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.35s ease-in-out;
  text-align: left;

}
.ins-ripple-button:hover, .ins-ripple-button:focus {
  outline: 0;
  text-decoration: none;
}
.ins-ripple-button:not(:disabled) {
  cursor: pointer;
}
.ins-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}

.ins-ripple__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  // opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  // background: rgba(0,0,0,.25);
  background: #d2d4d8;
}
.ins-ripple.activated .ins-ripple__circle {
  -webkit-animation: a-ripple 0.5s ease-in;
          animation: a-ripple 0.5s ease-in;
}
@-webkit-keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
@keyframes a-ripple {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}
.ripple-wave {
  position: absolute;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;
}
.ripple-wave.show {
  animation: ripple .75s ease-out;
}
@-webkit-keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ripple {
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.ins-sidebar-item-tooltip {
  display: none;

  position: absolute;
  white-space: nowrap;
  opacity: 1;
  transition-delay: 1s;

  background: #2c3148;
  color: var(--ins-color-white);
  padding: 7px 10px;
  font-size: 12px;
  border-radius: 2px;
  left: 50%;
  top: 75%;
  height: auto;
  opacity: 0.95;
  z-index: 9999;
}
