.ins-renderer-wrap {
  padding: 63px 0px 0 20px;
  box-sizing: border-box;
  background: #fafbfc;

  &.content {
    width: calc(100% - 240px);
    min-height: calc(100vh - 75px);
    margin-left: 240px;
    padding-top: 75px;
    background-color: #fafbfc;
    transition: margin .5s ease-in-out, width .5s ease-in-out;

    &.no-sidebar {
      width: 100%;
      margin-left: 0;
    }

  }

  .ins-renderer__iframe-wrap {
    display: none;
  }

  &.app {

    .ins-renderer__iframe-wrap {
      display: block;
    }

    .ins-renderer__slot-wrap {
      display: none;
    }
  }

  &__title {
    opacity: 0.87;
    color: var(--ins-color-ink);
    font-size: 30px;
    font-weight: 300;
    margin: 10px 0;
    font-family: var(--ins-font-family);
    position: relative;
    min-height: 44px;

    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }

  iframe {
    border: none;
    width: 100%;
    height: calc(100vh - 130px);
    overflow: auto;
    box-sizing: border-box;
  }
}

body {
  background: #fafbfc;
}

.hide-slot {
  display: none;
}

@media only screen and (max-width: 320px) {
  .ins-renderer-wrap__title h2 {
    padding: 0 10px;
  }
}