.ins-renderer-wrap {
  padding: 0 20px;
  padding-right: 0;
  box-sizing: border-box;

  .ins-renderer__iframe-wrap {
    display: none;
  }

  &.app {

    .ins-renderer__iframe-wrap {
      display: block;
    }

    .ins-renderer__slot-wrap {
      display: none;
    }
  }

  @media only screen and (min-width: 768px) {
    padding-right: 0;
  }

  &__title {
    opacity: 0.87;
    color: var(--ins-color-ink);
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
    padding: 0 0.9375rem;
    font-family: var(--ins-font-family);
    position: relative;
    min-height: 44px;

    @media only screen and (max-width: 768px) {
      padding: 0;
    }
  }

  iframe {
    border: none;
    width: 100%;
    height: calc(100vh - 137px);
    overflow: auto;
    box-sizing: border-box;
  }
}
.hide-slot {
  display: none;
}

@media only screen and (max-width: 320px) {
  .ins-renderer-wrap__title h2{
    padding: 0 10px;
  }
}