ins-input .ins-sw-in {
  position: relative; }
  ins-input .ins-sw-in input {
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #E4E6EC;
    color: #2c3148;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
    transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    width: 100%; }
    ins-input .ins-sw-in input::placeholder {
      color: #8C94A4; }
    ins-input .ins-sw-in input::-moz-placeholder {
      color: #8C94A4; }
    ins-input .ins-sw-in input:-ms-input-placeholder {
      color: #8C94A4; }
    ins-input .ins-sw-in input:-moz-placeholder {
      color: #8C94A4; }
    ins-input .ins-sw-in input:hover {
      border-color: #8c94a4; }
    ins-input .ins-sw-in input:focus {
      border-color: #1e86e3;
      box-shadow: none;
      outline: 0; }
    ins-input .ins-sw-in input:focus + i {
      color: #1e86e3; }
    ins-input .ins-sw-in input:disabled, ins-input .ins-sw-in input:read-only:not([read-only="false"]) {
      border-color: #E4E6EC !important;
      background-color: #FAFBFC;
      color: #8C94A4; }
    ins-input .ins-sw-in input:read-only:not([read-only="false"]) {
      cursor: text; }
  ins-input .ins-sw-in label {
    font-size: 12px;
    font-weight: 600;
    color: #2C3148;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 2px; }
    ins-input .ins-sw-in label.disabled {
      color: #8C94A4; }
    ins-input .ins-sw-in label.active {
      color: #1e86e3; }
  ins-input .ins-sw-in .input-wrap {
    position: relative; }
  ins-input .ins-sw-in i {
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
    color: #8C94A4;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out; }
  ins-input .ins-sw-in.is-invalid label {
    color: #F27474; }
  ins-input .ins-sw-in.is-invalid input {
    color: #F27474;
    border-color: #F27474;
    background-color: #FEF8F8;
    margin-bottom: 8px; }
    ins-input .ins-sw-in.is-invalid input::-webkit-input-placeholder {
      color: #F27474; }
    ins-input .ins-sw-in.is-invalid input:-moz-placeholder {
      /* Firefox 18- */
      color: #F27474; }
    ins-input .ins-sw-in.is-invalid input::-moz-placeholder {
      /* Firefox 19+ */
      color: #F27474; }
    ins-input .ins-sw-in.is-invalid input:-ms-input-placeholder {
      color: #F27474; }
  ins-input .ins-sw-in.is-invalid .ins-form-error {
    display: block;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 16px;
    color: #F27474;
    margin-bottom: 20px; }
  ins-input .ins-sw-in.is-invalid i.with-label {
    top: calc(50% - 9px);
    color: #F27474; }
