/** Core styling */
.accordion {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
}

.accordion > ins-accordion-item > .ins-accordion-item {
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

/* .accordion.loaded > ins-accordion-item > .ins-accordion-item {
	overflow: initial;
} */

.accordion > ins-accordion-item > *,
.accordion.edge-visible,
.accordion .accordion {
  -webkit-transition: 0.3s ease height;
  -moz-transition: 0.3s ease height;
  -o-transition: 0.3s ease height;
  transition: 0.3s ease height;
}

/** Transform-related */
.accordion,
.accordion > ins-accordion-item > * {
  will-change: height, transform;
  -webkit-perspective: 90em;
  -moz-perspective: 90em;
  perspective: 90em;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translateY(0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/** Rule to disable transitions between gap corrections */
.snap.accordion > ins-accordion-item > *,
.snap.accordion .accordion {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/** Headings */
.accordion > ins-accordion-item > * > :first-child {
  cursor: pointer;
  margin: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/** Collapsible content */
.accordion > ins-accordion-item > * > :last-child {
  overflow: hidden;
  -webkit-transition: 0.3s ease height, 0.3s step-start visibility;
  -moz-transition: 0.3s ease height, 0.3s step-start visibility;
  -o-transition: 0.3s ease height, 0.3s step-start visibility;
  transition: 0.3s ease height, 0.3s step-start visibility;
}

.accordion.loaded > ins-accordion-item > .ins-accordion-item.closed {
}

.accordion > ins-accordion-item > .closed > :last-child,
.accordion > ins-accordion-item > .closed .accordion > .open > :last-child {
  -webkit-transition-timing-function: ease, step-end;
  -moz-transition-timing-function: ease, step-end;
  -o-transition-timing-function: ease, step-end;
  transition-timing-function: ease, step-end;
  visibility: hidden;
}
