/* @import "../fonts"; */
:root {
  --ins-color-ink: #2c3148;
  --ins-color-ink40: #8c94a4;
  --ins-color-ink10: #E4E6EC;
  --ins-color-ink5: #f2f4f8;
  --ins-color-ink1: #ffffff;
  --ins-color-white: #fff;
  --ins-color-blue: #1e86e3;
  --ins-color-blue2: #1A78CB;
  --ins-color-blue-20p: #CEE2F6;
  --ins-color-blue-10p: #e8f3fc;
  --ins-color-green: #24be8d;
  --ins-color-green2: #20AA7E;
  --ins-color-green-10p: #E9F8F4;
  --ins-color-orange: #ffa639;
  --ins-color-orange2: #ff9b20;
  --ins-color-orange-10p: #FFF6EB;
  --ins-color-red: #f27474;
  --ins-color-red2: #f05d5d;
  --ins-color-red-10p: #F8EDEE;
  --ins-color-pink: #ff3366;
  --ins-color-pink2: #ff1a53;
  --ins-color-pink-10p: #FEEBF0;
  --ins-color-yellow: #fdd835;
  --ins-color-yellow2: #fdd31c;
  --ins-color-yellow-10p: #FFFBEB;
  --ins-color-turquoise: #2bbad9;
  --ins-color-turquoise2: #24aac7;
  --ins-color-turquoise-10p: #EAF8FB;
  --ins-color-purple: #694FCD;
  --ins-color-fushcia: #C65BBB;
  --ins-color-grey: #e4e6ec;
  --ins-color-grey2: #d5d8e1;
  --ins-color-grey-10p: #edeef2;
  --ins-color-primary: #1e86e3;
  --ins-color-success: #24be8d;
  --ins-color-warning: #ffa639;
  --ins-color-negative: #f27474;
  --ins-color-information1: #ff3366;
  --ins-color-information2: #fdd835;
  --ins-color-table-odd: #FFF;
  --ins-color-table-even: #FAFBFC;
  --ins-color-disabled_readonly_bg: #FAFBFC;
  --ins-bg-color: #ffffff;
  --ins-bg-color2: #E4E6EC;
  --ins-bg-color3: #8c94a4;
  --ins-bg-color4: #f2f4f8;
  --ins-bg-color5: #FAFBFC;
  --ins-border-radius: 4px;
  --ins-border-thickness: 1px;
  --ins-border-style: solid;
  --ins-border-color: #E4E6EC;
  --ins-shadow-x: 1px;
  --ins-shadow-y: 1px;
  --ins-shadow-blur: 3px;
  --ins-shadow-color: #E4E6EC;
  --ins-font-family: 'Open Sans', sans-serif
; }

/** Core styling */
.accordion {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none; }

.accordion > ins-accordion-item > .ins-accordion-item {
  width: 100%;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0; }

/* .accordion.loaded > ins-accordion-item > .ins-accordion-item {
	overflow: initial;
} */
.accordion > ins-accordion-item > *,
.accordion.edge-visible,
.accordion .accordion {
  -webkit-transition: 0.3s ease height;
  -moz-transition: 0.3s ease height;
  -o-transition: 0.3s ease height;
  transition: 0.3s ease height; }

/** Transform-related */
.accordion,
.accordion > ins-accordion-item > * {
  will-change: height, transform;
  -webkit-perspective: 90em;
  -moz-perspective: 90em;
  perspective: 90em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translateY(0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/** Rule to disable transitions between gap corrections */
.snap.accordion > ins-accordion-item > *,
.snap.accordion .accordion {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

/** Headings */
.accordion > ins-accordion-item > * > :first-child {
  cursor: pointer;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/** Collapsible content */
.accordion > ins-accordion-item > * > :last-child {
  overflow: hidden;
  -webkit-transition: 0.3s ease height, 0.3s step-start visibility;
  -moz-transition: 0.3s ease height, 0.3s step-start visibility;
  -o-transition: 0.3s ease height, 0.3s step-start visibility;
  transition: 0.3s ease height, 0.3s step-start visibility; }

.accordion > ins-accordion-item > .closed > :last-child,
.accordion > ins-accordion-item > .closed .accordion > .open > :last-child {
  -webkit-transition-timing-function: ease, step-end;
  -moz-transition-timing-function: ease, step-end;
  -o-transition-timing-function: ease, step-end;
  transition-timing-function: ease, step-end;
  visibility: hidden; }

.ins-accordion.menu {
  font-family: "Open Sans", Arial, Helvetica, sans-serif; }
  .ins-accordion.menu ins-accordion-item:first-of-type .ins-accordion-item_header {
    border-top: solid 1px #E4E6EC; }
  .ins-accordion.menu .ins-accordion-item .ins-accordion-item_header {
    padding-top: 0; }
  .ins-accordion.menu .ins-accordion-item .inner-head {
    border-radius: 0;
    border-top: 0; }
    .ins-accordion.menu .ins-accordion-item .inner-head:hover {
      border-color: #E4E6EC;
      background-color: var(--ins-bg-color4); }
  .ins-accordion.menu .ins-accordion-item.open > .ins-accordion-item_header > .inner-head:hover {
    border-color: var(--ins-color-primary);
    background-color: var(--ins-color-primary); }
  .ins-accordion.menu .ins-accordion-item.arrow-activated .inner-head:hover {
    background-color: var(--ins-bg-color); }
  .ins-accordion.menu .ins-accordion-item_content .inner-content {
    padding: 0; }

.ins-accordion-item {
  background-color: var(--ins-bg-color); }
  .ins-accordion-item_header {
    padding-top: 14px;
    outline: none !important; }
    .ins-accordion-item_header > .inner-head {
      background-color: var(--ins-bg-color);
      border: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color);
      font-size: 14px;
      line-height: 14px;
      padding: 14px;
      box-sizing: border-box;
      border-radius: 2px;
      color: #2c3148;
      position: relative;
      font-weight: 600; }
      .ins-accordion-item_header > .inner-head a {
        text-decoration: none;
        color: #2c3148; }
        .ins-accordion-item_header > .inner-head a:hover {
          text-decoration: underline; }
      .ins-accordion-item_header > .inner-head:hover {
        border-color: var(--ins-color-primary); }
    .ins-accordion-item_header.disabled {
      pointer-events: none;
      cursor: not-allowed; }
      .ins-accordion-item_header.disabled > .inner-head {
        border-color: var(--ins-color-ink5);
        color: var(--ins-color-ink10); }
    .ins-accordion-item_header .icon {
      margin-right: 12px; }
    .ins-accordion-item_header_caret-wrap {
      position: absolute;
      top: calc(50% - 8px);
      right: 12px; }
    .ins-accordion-item_header .icon-angle-down,
    .ins-accordion-item_header .icon-angle-up {
      display: none; }
  .ins-accordion-item_content .inner-content {
    padding: 14px;
    font-size: 14px;
    border: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color); }
  .ins-accordion-item.closed > .ins-accordion-item_header > .inner-head > .ins-accordion-item_header_caret-wrap > .icon-angle-down {
    display: block; }
  .ins-accordion-item.open > .ins-accordion-item_header > .inner-head > .ins-accordion-item_header_caret-wrap > .icon-angle-up {
    display: block; }
  .ins-accordion-item.open > .ins-accordion-item_header > .inner-head {
    border-color: var(--ins-color-primary);
    background-color: var(--ins-color-primary);
    color: var(--ins-color-white);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .ins-accordion-item.open > .ins-accordion-item_header > .inner-head a {
      color: var(--ins-color-white); }
  .ins-accordion-item.arrow-activated .inner-head {
    cursor: initial; }
    .ins-accordion-item.arrow-activated .inner-head .icon-angle-down,
    .ins-accordion-item.arrow-activated .inner-head .icon-angle-up {
      cursor: pointer; }

.ins-accordion-link {
  background-color: var(--ins-bg-color);
  font-size: 14px;
  border: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color);
  line-height: 14px; }
  .ins-accordion-link_link {
    display: block;
    color: #2c3148;
    font-weight: 600;
    padding: 14px;
    cursor: pointer;
    text-decoration: none; }
    .ins-accordion-link_link:visited {
      color: #2c3148; }
    .ins-accordion-link_link:hover {
      color: #1e86e3;
      text-decoration: underline; }
  .ins-accordion-link_icon {
    margin-right: 12px;
    width: 16px;
    display: inline-block; }
  .ins-accordion-link.before {
    border-bottom: 0; }
  .ins-accordion-link.after {
    border-top: 0; }
  .ins-accordion-link:hover {
    background-color: #f2f4f8;
    color: #1e86e3; }
  .ins-accordion-link.active > .ins-accordion-link_link {
    color: #1e86e3;
    background-color: var(--ins-bg-color); }
  .ins-accordion-link.disabled {
    pointer-events: none;
    border-color: var(--ins-color-ink5);
    cursor: not-allowed; }
    .ins-accordion-link.disabled > .ins-accordion-link_link {
      color: #E4E6EC; }

.ins-accordion-item_content .ins-accordion-link {
  border: none;
  border-bottom: solid 1px #E4E6EC; }

.ins-accordion-item_content .ins-accordion-link_link {
  padding: 14px; }

.ins-accordion-item_content ins-accordion-link:last-child .ins-accordion-link {
  border-bottom: none; }

.ins-backdrop-wrap {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998; }
  .ins-backdrop-wrap.light {
    background: rgba(255, 255, 255, 0.9); }

.ins-carousel {
  font-family: var(--ins-font-family);
  color: #2c3148; }
  .ins-carousel div {
    box-sizing: border-box; }
  .ins-carousel img {
    width: 100%; }
  .ins-carousel_heading {
    font-size: 1.5rem;
    font-weight: 300; }
  .ins-carousel_sub-heading {
    font-size: 1.25rem;
    font-weight: 300; }
  .ins-carousel_body-text {
    font-size: 1rem; }
  .ins-carousel_slides {
    overflow: auto;
    background-color: var(--ins-bg-color2); }
  .ins-carousel_ctrl-btns ins-button button {
    border-radius: 0 !important;
    width: 42px;
    height: 42px;
    position: absolute;
    top: calc(50% - 21px);
    z-index: 3; }
    .ins-carousel_ctrl-btns ins-button button i {
      font-size: 20px;
      width: 18px;
      height: 22px; }
  .ins-carousel_ctrl-btns ins-button:nth-child(1) button {
    left: 0; }
  .ins-carousel_ctrl-btns ins-button:nth-child(2) button {
    right: 0; }
  .ins-carousel_footer button {
    margin-bottom: 40px; }
  .ins-carousel_paginations {
    margin: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    left: 0; }
    .ins-carousel_paginations .pagination {
      display: inline-block;
      width: 30px;
      height: 4px;
      background-color: var(--ins-bg-color3);
      margin: 0 5px;
      cursor: pointer; }
      .ins-carousel_paginations .pagination.active {
        background-color: var(--ins-color-primary); }
  .ins-carousel.layout-1 .ins-carousel_head, .ins-carousel.layout-2 .ins-carousel_head {
    text-align: center; }
  .ins-carousel.layout-1 .ins-carousel_heading,
  .ins-carousel.layout-1 .ins-carousel_body-text, .ins-carousel.layout-2 .ins-carousel_heading,
  .ins-carousel.layout-2 .ins-carousel_body-text {
    max-width: 998px;
    margin: 0 auto 20px; }
  .ins-carousel.layout-1 .ins-carousel_footer, .ins-carousel.layout-2 .ins-carousel_footer {
    text-align: center; }
  .ins-carousel.layout-1 .ins-carousel_sub-heading, .ins-carousel.layout-2 .ins-carousel_sub-heading {
    padding: 30px 0; }
  .ins-carousel.layout-1 .ins-carousel_body, .ins-carousel.layout-2 .ins-carousel_body {
    position: relative;
    padding: 0 84px; }
    .ins-carousel.layout-1 .ins-carousel_body.no-buttons, .ins-carousel.layout-2 .ins-carousel_body.no-buttons {
      padding: 0; }
  .ins-carousel.layout-2 {
    position: relative; }
    .ins-carousel.layout-2 .ins-carousel_head,
    .ins-carousel.layout-2 .ins-carousel_footer {
      position: relative;
      z-index: 2; }
    .ins-carousel.layout-2 .ins-carousel_head {
      padding: 40px 84px 0; }
      .ins-carousel.layout-2 .ins-carousel_head h1, .ins-carousel.layout-2 .ins-carousel_head p {
        margin-bottom: 0;
        padding-bottom: 30px; }
    .ins-carousel.layout-2 .ins-carousel_sub-heading {
      margin-bottom: 0; }
    .ins-carousel.layout-2 .ins-carousel_body {
      position: absolute;
      width: 100%;
      top: 0; }
    .ins-carousel.layout-2 .ins-carousel_footer {
      padding: 0 84px; }
    .ins-carousel.layout-2 .ins-carousel_paginations {
      position: absolute;
      bottom: 20px;
      width: 100%;
      z-index: 3; }
  .ins-carousel.layout-3 {
    position: relative;
    padding: 0 84px; }
    .ins-carousel.layout-3::after {
      content: "";
      clear: both;
      display: block; }
    .ins-carousel.layout-3 .ins-carousel_left {
      float: left;
      width: 50%;
      padding: 30px 20px; }
    .ins-carousel.layout-3 .ins-carousel_right {
      float: right;
      width: 50%; }
    .ins-carousel.layout-3 .ins-carousel_sub-heading {
      margin-bottom: 30px; }
    .ins-carousel.layout-3 .ins-carousel_paginations {
      text-align: left; }

@media only screen and (max-width: 768px) {
  .ins-carousel.layout-1 .ins-carousel_body,
  .ins-carousel.layout-2 .ins-carousel_body,
  .ins-carousel.layout-3 .ins-carousel_body {
    padding: 0; }
  .ins-carousel.layout-1 .ins-carousel_ctrl-btns,
  .ins-carousel.layout-2 .ins-carousel_ctrl-btns,
  .ins-carousel.layout-3 .ins-carousel_ctrl-btns {
    display: none; }
  .ins-carousel.layout-2 .ins-carousel_head {
    padding: 20px; }
  .ins-carousel.layout-3 {
    padding: 0; }
    .ins-carousel.layout-3 .ins-carousel_left,
    .ins-carousel.layout-3 .ins-carousel_right {
      float: none;
      width: 100%; }
    .ins-carousel.layout-3 .ins-carousel_left {
      padding: 20px 0; } }

.ins-heading-wrap {
  position: relative;
  margin-bottom: 20px; }
  .ins-heading-wrap:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--ins-bg-color2);
    top: calc(50% - 1px);
    left: 0;
    z-index: 0; }
  .ins-heading-wrap.without-line:before {
    content: none; }
  .ins-heading-wrap .label-wrap {
    position: relative;
    color: var(--ins-color-ink);
    z-index: 1;
    display: inline-block;
    padding: 10px 0;
    padding-right: 15px; }
    .ins-heading-wrap .label-wrap h1,
    .ins-heading-wrap .label-wrap h2,
    .ins-heading-wrap .label-wrap h3,
    .ins-heading-wrap .label-wrap h4,
    .ins-heading-wrap .label-wrap h5,
    .ins-heading-wrap .label-wrap h6 {
      font-family: var(--ins-font-family);
      font-weight: 300;
      margin-bottom: 0;
      display: inline-block; }
    .ins-heading-wrap .label-wrap h1 {
      font-size: 4rem; }
    .ins-heading-wrap .label-wrap h2 {
      font-size: 3.5rem; }
    .ins-heading-wrap .label-wrap h3 {
      font-size: 3rem; }
    .ins-heading-wrap .label-wrap h4 {
      font-size: 2rem; }
    .ins-heading-wrap .label-wrap h5 {
      font-size: 1.5rem; }
    .ins-heading-wrap .label-wrap h6 {
      font-size: 1.125rem; }
    .ins-heading-wrap .label-wrap .icon-edit {
      margin-left: 15px;
      font-size: 14px;
      color: var(--ins-color-ink10);
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      background-color: transparent; }
    .ins-heading-wrap .label-wrap:hover .icon-edit {
      color: var(--ins-color-primary); }
  .ins-heading-wrap .input-wrap {
    display: none; }
    .ins-heading-wrap .input-wrap .ins-input-wrap {
      width: calc(100% - 162px);
      margin: 0;
      margin-right: 10px;
      display: inline-block; }
    .ins-heading-wrap .input-wrap input {
      margin-bottom: 0; }
    .ins-heading-wrap .input-wrap-buttons {
      display: inline-block; }
  .ins-heading-wrap.editing:before {
    content: none; }
  .ins-heading-wrap.editing .label-wrap {
    display: none; }
  .ins-heading-wrap.editing .input-wrap {
    display: block; }

.ins-modal-wrap.show-modal {
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .ins-modal-wrap.show-modal ins-card {
    position: fixed;
    top: 10%;
    z-index: 9999;
    min-width: 320px; }
    .ins-modal-wrap.show-modal ins-card .ins-card-wrap {
      padding: 0;
      height: 100%;
      border: none;
      box-shadow: 0px 8px 21px #2c3148;
      position: relative; }
      .ins-modal-wrap.show-modal ins-card .ins-card-wrap:hover {
        box-shadow: 0px 8px 21px #2c3148; }
  .ins-modal-wrap.show-modal.light ins-card .ins-card-wrap {
    box-shadow: 0px 8px 21px #8c94a4; }
    .ins-modal-wrap.show-modal.light ins-card .ins-card-wrap:hover {
      box-shadow: 0px 8px 21px #8c94a4; }
  .ins-modal-wrap.show-modal .ins-modal-head {
    position: relative;
    padding: 18px 56px 14px 20px;
    border-bottom: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color); }
    .ins-modal-wrap.show-modal .ins-modal-head h1 {
      color: var(--ins-color-ink);
      font-size: 24px;
      font-weight: 300;
      font-family: var(--ins-font-family);
      margin-bottom: 20px;
      margin: 0; }
    .ins-modal-wrap.show-modal .ins-modal-head .icon-close-1 {
      position: absolute;
      top: 20px;
      right: 20px;
      padding: 5px;
      cursor: pointer; }
    .ins-modal-wrap.show-modal .ins-modal-head.no-heading {
      border-bottom: 0; }
      .ins-modal-wrap.show-modal .ins-modal-head.no-heading .icon-close-1 {
        top: 10px;
        right: 10px; }
  .ins-modal-wrap.show-modal .ins-modal-body {
    position: absolute;
    width: 100%;
    height: calc(100% - 162px);
    left: 0;
    padding: 20px;
    overflow: auto; }
  .ins-modal-wrap.show-modal .ins-modal-button-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 15px 12px;
    border-top: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color); }
    .ins-modal-wrap.show-modal .ins-modal-button-wrap button {
      min-width: 82px;
      margin: 0 8px; }
    .ins-modal-wrap.show-modal .ins-modal-button-wrap.text-center {
      text-align: center; }
    .ins-modal-wrap.show-modal .ins-modal-button-wrap.text-left {
      text-align: left; }
    .ins-modal-wrap.show-modal .ins-modal-button-wrap.text-right {
      text-align: right; }
  .ins-modal-wrap.show-modal.auto .ins-modal-body,
  .ins-modal-wrap.show-modal.auto .ins-modal-button-wrap {
    position: relative; }
  .ins-modal-wrap.show-modal.no-button .ins-modal-body {
    height: auto; }

.ins-modal-wrap {
  display: none; }
