<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>

  <script type="module" src="/build/insites-components.esm.js"></script>
  <script nomodule src="/build/insites-components.js"></script>

  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/insites-font-icons.css" />
  <link rel="stylesheet" href="/assets/css/insites-components.css" />

  <style>
    body {
      padding: 20px;
      background: #eee;
    }
  </style>
</head>
<body>
  <div class="body-wrap">
    <ins-filter with-date-filter></ins-filter>
  </div>
</body>
</html>
