<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">

  <title>Stencil Component Starter</title>

  <script type="module" src="/build/insites-components.esm.js"></script>
  <script nomodule src="/build/insites-components.js"></script>

  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/insites-font-icons.css" />
  <link rel="stylesheet" href="/assets/css/insites-components.css" />

  <style>
    body {
      background-color: #eee;
    }
  </style>

</head>

<body>
  <ins-select label="Select Field">

    <ins-select-option label="Option 1" value="Option 1">
    </ins-select-option>

    <ins-select-option label="Option 2" value="Option 2">
    </ins-select-option>

    <ins-select-option label="Option 3" value="Option 3">
    </ins-select-option>
  </ins-select>
</body>

</html>