ins-input {
  .ins-sw-in {
    position: relative;

    input {
      box-shadow: none;
      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      border: 1px solid #E4E6EC;
      color: #2c3148;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 10px;
      // padding-right: 30px;
      -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
      transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
      transition: box-shadow .5s,border-color .25s ease-in-out;
      width: 100%;

      &::placeholder {
        color: #8C94A4;
      }
      &::-moz-placeholder {
        color: #8C94A4;
      }
      &:-ms-input-placeholder {
        color: #8C94A4;
      }
      &:-moz-placeholder {
        color: #8C94A4;
      }

      &:hover {
        border-color: #8c94a4;
      }

      &:focus {
        border-color: #1e86e3;
        box-shadow: none;
        outline: 0;
      }

      &:focus + i {
        color: #1e86e3;
      }

      &:disabled,
      &:read-only:not([read-only="false"]) {
        border-color: #E4E6EC !important;
        background-color: #FAFBFC;
        color: #8C94A4;
      }

      &:read-only:not([read-only="false"]) {
        cursor: text;
      }

      // &:read-only:not([read-only="false"]){
      //   color: #2C3148;
      // }
    }

    label {
      font-size: 12px;
      font-weight: 600;
      color: #2C3148;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 2px;

      &.disabled {
        color: #8C94A4;
      }

      &.active {
        color: #1e86e3;
      }
    }
    .input-wrap { position: relative; }
    i {
      font-size: 16px;
      position: absolute;
      right: 8px;
      top: calc(50% - 8px);
      color: #8C94A4;
      -webkit-transition: color .25s ease-in-out;
      transition: color .25s ease-in-out;

      // &.with-label {
      //   top: calc(50% - -3px);
      // }
    }

    &.is-invalid {
      label {
        color: #F27474;
      }
      input {
        color: #F27474;
        border-color: #F27474;
        background-color: #FEF8F8;
        margin-bottom: 8px;

        &::-webkit-input-placeholder {
          color: #F27474;
        }

        &:-moz-placeholder { /* Firefox 18- */
          color: #F27474;
        }

        &::-moz-placeholder {  /* Firefox 19+ */
          color: #F27474;
        }

        &:-ms-input-placeholder {
          color: #F27474;
        }
      }
      .ins-form-error {
        display: block;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        line-height: 16px;
        color: #F27474;
        margin-bottom: 20px;
      }

      i.with-label {
        top: calc(50% - 9px);
        color: #F27474;
      }
    }
  }
}
