// .ins-input-tel {

//     .row-col-container {
//         width: 100%;

//         input {
//             border: 1px solid #E4E6EC;
//             border-radius: 4px;
//             box-shadow: none;
//             color: #8C94A4;
//             font-family: "Open Sans", sans-serif;
//             font-size: 14px;

//             &:focus {
//               border-color: #1e86e3;
//             }
//         }

//         .col-container-column-1 {
//           float: left;
//           padding-right: 15px;
//           width: 20%;
//         }

//         .col-container-column-2 {
//           float: left;
//           padding-right: 15px;
//           width: 30%;
//         }

//         .col-container-column-3 {
//           float: left;
//         //   padding: 0 15px;
//           width: 50%;
//         }
//     }

//     .intl-tel-input.allow-dropdown .flag-container,
//     .intl-tel-input.separate-dial-code .flag-container {
//         width: 100%;
//     }
//     .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
//         background-color: transparent;
//         color: #8C94A4;
//         width: 100%;

//         &:focus {
//         //   outline-color: #1e86e3 !important;

//           outline: none;
//         }
//     }

//     [class*='col-w-'] {
//         padding-right: 8px;
//         padding-left: 8px;
//         box-sizing: border-box;
//         float: left;
//     }
//     [class*='col-w-']:first-of-type {
//         padding-left: 0;
//     }
//     [class*='col-w-']:last-of-type {
//         padding-right: 0;
//     }
//     .col-w-21 {
//         width: 21%;
//         .intl-tel-input.separate-dial-code .selected-flag {
//             background-color: #ffffff;
//             padding: 6px 16px 6px 6px;
//             -webkit-box-sizing: border-box;
//             box-sizing: border-box;
//             border-radius: 2px;
//             border: solid 1px #e4e6ec;
//         }
//         .intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
//             background-color: #ffffff;
//         }
//         .intl-tel-input.separate-dial-code .selected-flag{
//             width: 78px !important;
//         }
//         .intl-tel-input .flag-container {
//             padding: 0;
//         }
//         .phone {
//             visibility: hidden;
//         }
//     }
//     .col-w-29 {
//         width: 29%;
//     }
//     .col-w-50 {
//         width: 50%;
//     }
// }
// // @media only screen and (max-width: 1800px) {
// //     .ins-input-tel [class*=col-w-] {
// //         padding-right: 8px;
// //         padding-left: 0px;
// //     }
// //     .phone-content .col-w-21 {
// //         width: 28%;
// //     }
// //     .phone-content .col-w-29 {
// //         width: 26%;
// //     }
// //     .phone-content .col-w-50 {
// //         width: 46%;
// //     }
// // }
// // @media only screen and (max-width: 1510px) {
// //     .ins-input-tel [class*=col-w-] {
// //         padding-right: 8px;
// //         padding-left: 0px;
// //     }
// //     .phone-content .col-w-21 {
// //         width: 34%;
// //     }
// //     .phone-content .col-w-29 {
// //         width: 26%;
// //     }
// //     .phone-content .col-w-50 {
// //         width: 40%;
// //     }
// // }
// // @media only screen and (max-width: 1284px) {
// //     .ins-input-tel [class*=col-w-] {
// //         padding-right: 0px;
// //         padding-left: 0px;
// //     }
// //     .phone-content .col-w-21 {
// //         width: 50%;
// //     }
// //     .phone-content .col-w-29 {
// //         width: 50%;
// //     }
// //     .phone-content .col-w-50 {
// //         width: 100%;
// //     }
// // }

.ins-input-tel-wrap {
  // min-width: 285px;

  label {
    font-size: 12px;
    font-weight: 600;
    color: #2C3148;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 2px;

    &.active {
      color: #1e86e3;
    }
  }

  input, .ins-form-field {
    border: 1px solid #E4E6EC;
    box-shadow: none;
    color: #8C94A4;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 20px;

    &:hover {
      border-color: #8c94a4;
    }

    // &:active,
    &:focus {
      border-color: #1e86e3;
      box-shadow: none;
    }

    &.ins-form-field {
      color: #0a0a0a;
      padding: 8px;
      border-radius: 4px;
    }

    &:disabled, &[readonly] {
      background-color: #fafbfc!important;
    }
  }

  .intl-tel-input.separate-dial-code,
  .intl-tel-input {

    input {
      opacity: 0;
      width: 1px;
      padding: 0 !important;
      position: absolute;
      left: 0;
      top: 0;
    }

    .flag-container {
      padding: 0;
      position: relative;

      .selected-flag {
        font-size: 14px;
        background: #fff;
        border: solid 1px #eee;
        height: auto;
        padding: 8px 6px;
        border-radius: 4px;
        outline: none;
        width: 94px !important;

        -webkit-transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
        transition: border-color .25s ease-in-out,-webkit-box-shadow .5s;
        transition: box-shadow .5s,border-color .25s ease-in-out;

        &:hover {
          border-color: #8c94a4;
        }
        // &:active,
        &:focus {
          border-color: #1e86e3;
          box-shadow: none;
        }
      }

      &:hover .selected-flag {
        background-color: #fff;
      }
    }

    .selected-dial-code {
      padding-left: 25px;
    }

    .country-list {
      font-size: 14px;
      margin-left: 0;
      margin-top: 6px;
      border-radius: 4px;
      border-color: #E4E6EC;

      .divider {
        padding: 0;
        margin: 0;
        border-color: #eee;
      }
    }
  }

  .col-container {
    float: left;

    &.column-2 {
      width: 50px;
      margin: 0 8px;
    }

    &.column-3 {
      width: calc(100% - 162px);
    }

    .iti-arrow {
      border-top: 4px solid #E4E6EC !important;
    }
  }

  .icon-caret-down {
    color: #8c94a4;
    font-size: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
  }

  &.read-only {
    .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-3 .selected-flag {
      background-color: #fafbfc;
      cursor: not-allowed;
    }
  }

  &.no-areacode {

    .column-2 {
      display: none;
    }

    .column-3 {
      margin-left: 8px;
      width: calc(100% - 102px);
    }
  }

  &.is-invalid {
    label {
      color: #F27474;
    }
    .flag-container {
      border: 1px solid #F27474;
      border-radius: 4px;

     .selected-flag {
        background: #FEF8F8 !important;
      }
    }

    input {
      color: #F27474;
      border-color: #F27474;
      background-color: #FEF8F8;
      margin-bottom: 8px;

      &::-webkit-input-placeholder {
        color: #F27474;
      }

      &:-moz-placeholder {
        /* Firefox 18- */
        color: #F27474;
      }

      &::-moz-placeholder {
        /* Firefox 19+ */
        color: #F27474;
      }

      &:-ms-input-placeholder {
        color: #F27474;
      }
    }

    .ins-form-error {
      display: block;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      line-height: 16px;
      color: #F27474;
      margin-bottom: 20px;
    }
  }
}


@media only screen and (max-width: 400px) {

  .ins-input-tel-wrap {
    .col-container {
      float: left;

      &.column-2 {
        width: calc(100% - 104px);
        margin: 0;
        margin-left: 8px
      }
      &.column-3 {
        width: 100%;
        display: block;
        float: none;
      }
    }
  }
}
