ins-radio {
  $theme-blue: #1f86e3;
  display: block;

  .ins-radio {
    padding: 0 13px;
  }

  label {
    display: inline-block;

    span {
      font-family: "Roboto", "Open Sans", sans-serif;
      font-size: .875rem;
      font-weight: 400;
      line-height: 1.8;
      color: #8C94A4;
      display: inline-block;
      vertical-align: top !important;
      margin-top: -2px;
      margin-left: 16px !important;
    }
  }

  .ripple-check {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      width: 16px;
      height: 16px;
      -webkit-transition: background 0.15s ease-out;
      -moz-transition: background 0.15s ease-out;
      transition: background 0.15s ease-out;
      background: #E4E6EC;
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      outline: none;
      z-index: 990;
      border-radius: 1px;

      &:hover { background: #8C94A4; }

      &:checked { background: $theme-blue; }

      &:checked::before {
        width: 16px;
        height: 16px;
        position: absolute;
        // transform: rotate(40deg);
        display: inline-block;
        font-size: 8px;
        text-align: center;
        line-height: 16px;
        content: "\e926";
        font-family: 'insites-20-fonticon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
      }

      &:checked::after {
        -webkit-animation: click-wave 0.3s;
        -moz-animation: click-wave 0.3s;
        animation: click-wave 0.3s;
        background: $theme-blue;
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        opacity: 0;
        border-radius: 1px;
      }

      &.radio {
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
      &.radio:checked::before {
        width: 20px;
        height: 20px;
        line-height: 20px;
        padding-top: 1px;
      }
       &.radio:checked::after {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
  // .v-radio {
  //   display: inline-block;
  //   .container {
  //     display: block;
  //     position: relative;
  //     padding-left: 35px;
  //     margin-bottom: 12px;
  //     cursor: pointer;
  //     -webkit-user-select: none;
  //     -moz-user-select: none;
  //     -ms-user-select: none;
  //     user-select: none;
  //     color: #8C94A4;
  //   }

  //   /* Hide the browser's default radio button */
  //   .container input {
  //     position: absolute;
  //     opacity: 0;
  //     cursor: pointer;
  //   }

  //   /* Create a custom radio button */
  //   .checkmark {
  //     position: absolute;
  //     top: 3px;
  //     left: 0;
  //     height: 18px;
  //     width: 18px;
  //     border-radius: 50%;
  //     border: 1px solid #afb3bd;
  //   }

  //   /* When the radio button is checked, add a blue background */
  //   .container input:checked ~ .checkmark {
  //     border: solid 2px $theme-blue;
  //   }

  //   /* Create the indicator (the dot/circle - hidden when not checked) */
  //   .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  //   }

  //   /* Show the indicator (dot/circle) when checked */
  //   .container input:checked ~ .checkmark:after {
  //     display: block;
  //   }

  //   /* Style the indicator (dot/circle) */
  //   .container .checkmark:after {
  //     top: 3px;
  //     left: 3px;
  //     width: 8px;
  //     height: 8px;
  //     border-radius: 50%;
  //     background: $theme-blue;
  //   }
  // }
// .mdc-form-field {
//   -moz-osx-font-smoothing: grayscale;
//   -webkit-font-smoothing: antialiased;
//   font-size: .875rem;
//   line-height: 1.25rem;
//   font-weight: 400;
//   letter-spacing: .01786em;
//   text-decoration: inherit;
//   text-transform: inherit;
//   color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, .87));
//   display: -ms-inline-flexbox;
//   display: inline-flex;
//   -ms-flex-align: center;
//   align-items: center;
//   vertical-align: middle;
//   margin-right: 15px;

//   label {
//     margin-left: 15px;
//     color: #8C94A4;
//     font-family: "Roboto", "Open Sans", sans-serif;
//   }
// }
// .mdc-radio::before,
// .mdc-radio::after {
//   background-color: #1e86e3 !important;
// }
// .mdc-radio .mdc-radio__background::before {
//   background-color: #1e86e3 !important;
// }
// .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
//   border-color: #1e86e3 !important;
//   border-color: var(--mdc-theme-secondary, #1e86e3) !important;
// }
// .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
//   border-color: #1e86e3 !important;
//   border-color: var(--mdc-theme-secondary, #1e86e3) !important;
// }
// .mdc-radio__native-control:focus+.mdc-radio__background::before {
//   transform: none !important;
//   transition: opacity !important;
//   transition: opacity !important;
//   transition: opacity !important;
//   opacity: 0.1 !important;
// }
// .mdc-radio .mdc-radio__native-control:enabled:not(:checked)+.mdc-radio__background .mdc-radio__outer-circle {
//   border-color: #E4E6EC !important;
//   background-color: #E4E6EC !important;
// }
// .mdc-radio__inner-circle,
// .mdc-radio__outer-circle {
//   border-width: 0px !important;
//   border-style: none !important;
//   background-color: #1e86e3;
// }
// .mdc-radio__inner-circle::after {
//   content: "\02143";
//   -webkit-transform: rotate(40deg);
//   transform: rotate(40deg);
//   position: absolute;
//   font-size: 25px;
//   color: #fff;
//   left: calc(50% - 6px);
//   top: -1px;
// }


@-webkit-keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.35;
}
 100% {
 transform: scale(2);
 opacity: 0.0;
}
}

@-moz-keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.35;
}
 100% {
 transform: scale(2);
 opacity: 0.0;
}
}

@-o-keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.35;
}
 100% {
 transform: scale(2);
 opacity: 0.0;
}
}

@keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.65;
}
 100% {
 transform: scale(2.5);
 opacity: 0.0;
}
}
