.ins-accordion.menu {
    
    ins-accordion-item:first-of-type {
      .ins-accordion-item_header {
        border-top: solid 1px $ink10;
      }
    }
  
    .ins-accordion-item {
  
      .ins-accordion-item_header {
        padding-top: 0;
      }
  
      .inner-head {
        border-radius: 0;
        border-top: 0;
  
        &:hover {
          border-color: $ink10;
          background-color: #f2f4f8;
        }
      }
  
      &.open > .ins-accordion-item_header > .inner-head:hover {
        border-color: $blue;
        background-color: $blue;
      }
  
      &.arrow-activated {
        .inner-head:hover {
          background-color: #fff;
        }
      }
    }
  
    .ins-accordion-item_content .inner-content {
      padding: 0;
    }
  }
  