.ins-logo-wrapper {
    .image-picker {
        margin-bottom: 30px;
        .img-placeholder {
            margin-right: 25px;
            margin-bottom: 0;
            border-radius: 4px;
            border: 1px solid #E4E6EC;
            width: 285px;
            height: 100px;
            display: none;
            position: relative;
            cursor: pointer;
            span {
                width: 220px;
                text-align: center;
                padding: 0;
                margin: 0 auto;  
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                 -khtml-user-select: none;
                   -moz-user-select: none;
                    -ms-user-select: none; 
                        user-select: none;
                display: block;
                position: relative;
                top: 40px;
            }
        }
        .profile {
            border-radius: 4px;
            width: 285px;
            height: 100px;
            margin-right: 35px;
            display: none;
        }
        span {
            font-family: 'Open sans', sans-serif;
            color: #8C94A4;
            display: block;
            font-size: 12px;
            margin-bottom: 12px;
        }
        .inline-block {
            display: inline-block;
            vertical-align: middle;
        }
        .clearfix::after {
            display: table;
            content: ' ';
            -webkit-flex-basis: 0;
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -webkit-box-ordinal-group: 2;
            -webkit-order: 1;
            -ms-flex-order: 1;
            order: 1;
            clear: both;
        }
        .show {
            display: block !important;
        }
        .modal {
            display: none;
            ins-card .ins-card-wrap.steady{
                position: fixed;
                margin-left: -250px;
                margin-top: -250px;
                left: 50%;
                top: 50%;
                z-index: 9999;
                width: 500px;
                box-shadow: none;
                height: auto;
                .controllers {
                    float: right;
                    ins-button {
                        display: none;
                        padding-right: 5px;
                        padding-left: 5px;
                        &:first-of-type {
                            padding-left: 0;
                        }
                        &:last-of-type {
                            padding-right: 0;
                        }
                        &.show {
                            display: inline-block !important;
                        }
                    }
                    .hidden-input {
                        display: none;
                    }
                }
                .image-preview {
                    border: 1px dashed #8C94A4;
                    margin: 0 auto 30px auto;
                    min-height: 100px;
                    width: 452px;
                    z-index: 1;
                    border-radius: 5px;
                    text-align: center;
                    position: relative;
                    // width: 450px;
                    .label-content {
                        color: #8C94A4;
                        position: absolute;
                        z-index: 0;
                        width: 100%;
    
                        h4 {
                            font-family: 'Open sans', sans-serif;
                            font-size: 16px;
                            margin-top: 20px;
                        }
    
                        i {
                            font-size: 40px;
                            top: 15px;
                            position: relative;
                        }
                    }
                }
                .icon-close-1 {
                    position: absolute;
                    top: 23px;
                    right: 23px;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
}
