// color pallete
$black: #2c3148;
$red: #f27474;
$orange: #ffa639;
$yellow: #fdd835;
$pink: #ff3366;
$turquoise: #2bbad9;
$blue: #1e86e3;
$green: #24be8d;
$dark-grey: #8c94a4;
$medium-grey: #e4e6ec;
$light-grey: #f2f4f8;
$wash-white: #fafbfc;
$white: #ffffff;
$purple: #694FCD;
$fushcia: #C65BBB;

$border-color: #eeeeee;

.ins-timeline-item-wrap {
  padding: 10px 20px;
  position: relative;
  color: $black;

  .ins-icon-wrap {
    width: 31px;
    height: 31px;
    border: solid 1px $black;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    position: absolute;
    left: 20px;
    top: calc(50% - 16px);
    background-color: $white;
    font-size: 13px;

    &.solid {
      background-color: $black;
      color: $white;
    }

    &.no-icon {
      width: 11px;
      height: 11px;
      left: 31px;
      top: calc(50% - 6px);
      padding: 0;
    }
    &.grey {
      border-color: $dark-grey;
      color: $dark-grey;

      &.solid {
        background-color: $dark-grey;
        color: $white;
      }
    }
    &.pink {
      border-color: $pink;
      color: $pink;

      &.solid {
        background-color: $pink;
        color: $white;
      }
    }
    &.red {
      border-color: $red; color: $red;
      &.solid {
        background-color: $red;
        color: $white;
      }
    }
    &.blue { border-color: $blue; color: $blue;
      &.solid {
        background-color: $blue;
        color: $white;
      }
    }
    &.green { border-color: $green; color: $green;
      &.solid {
        background-color: $green;
        color: $white;
      }
    }
    &.turquoise {
      border-color: $turquoise;
      color: $turquoise;

      &.solid {
        background-color: $turquoise;
        color: $white;
      }
    }
    &.purple {
      border-color: $purple;
      color: $purple;

      &.solid {
        background-color: $purple;
        color: $white;
      }
    }
    &.fushcia {
      border-color: $fushcia;
      color: $fushcia;

      &.solid {
        background-color: $fushcia;
        color: $white;
      }
    }
    &.yellow { border-color: $yellow; color: $yellow;
      &.solid {
        background-color: $yellow;
        color: $white;
      }
    }
    &.orange { border-color: $orange; color: $orange;
      &.solid {
        background-color: $orange;
        color: $white;
      }
    }
  }

  .ins-timeline-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: calc(100% - 50px);
    margin-left: 50px;
    box-sizing: border-box;
    padding: 15px;
    background: $wash-white;
    border-radius: 4px;
    position: relative;
    white-space: no-wrap;
    display: table;

    .ins-timeline-title {
      margin-bottom: 15px;

      h6 {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .ins-timeline-datetime {
      margin-top: 15px;

      p {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 0;
        color: $dark-grey;
      }
    }

    .ins-timeline-content {
      box-sizing: border-box;

      &.inline-content {
        display: table-cell;
        width: 100%;
        max-width: 85%;
      }
    }

    .ins-timeline-actions {
      box-sizing: border-box;
      text-align: right;
      margin-top: 10px;

      &.inline-content {
        display: table-cell;
        padding-left: 20px;
        margin-top: 0px;
        width: 100%;
        max-width: 200px;
        vertical-align: middle;

      }
    }
  }
}
