.ins-carousel {
  font-family: $default_font_family;
  color: $ink;

  &_heading {
    font-size: 1.5rem;
    font-weight: 300;
  }

  &_sub-heading {
    font-size: 1.25rem;
    font-weight: 300;
  }

  &_body-text {
    font-size: 1rem;
  }

  &_slides {
    overflow: auto;
    background-color: $ink10;
  }

  &_ctrl-btns {

    ins-button button {
      border-radius: 0 !important;
      width: 42px;
      height: 42px;

      position: absolute;
      top: calc(50% - 21px);
      z-index: 3;

      i {
        font-size: 20px;
        width: 18px;
        height: 22px;
      }
    }

    ins-button:nth-child(1) button {
      left: 0;
    }

    ins-button:nth-child(2) button {
      right: 0;
    }
  }

  &_footer {
    button {
      margin-bottom: 40px;
    }
  }

  &_paginations {
    margin: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    left: 0;

    .pagination {
      display: inline-block;
      width: 30px;
      height: 4px;
      background-color: $ink40;
      margin: 0 5px;
      cursor: pointer;

      &.active {
        background-color: $blue;
      }
    }
  }

  &.layout-1,
  &.layout-2 {

    .ins-carousel_head {
      text-align: center;
    }

    .ins-carousel_heading,
    .ins-carousel_body-text {
      max-width: 998px;
      margin: 0 auto 20px;

    }

    .ins-carousel_footer {
      text-align: center;
    }

    .ins-carousel_sub-heading {
      padding: 30px 0;
    }

    .ins-carousel_body {
      position: relative;
      padding: 0 84px;

      &.no-buttons {
        padding: 0;
      }
    }
  }

  &.layout-2 {
    position: relative;

    .ins-carousel_head,
    .ins-carousel_footer {
      position: relative;
      z-index: 2;
    }

    .ins-carousel_head {
      padding: 40px 84px 0;

      h1, p {
        margin-bottom: 0;
        padding-bottom: 30px;
      }
    }

    .ins-carousel_sub-heading {
      margin-bottom: 0;
    }

    .ins-carousel_body {
      position: absolute;
      width: 100%;
      top: 0;
    }

    .ins-carousel_footer {
      padding: 0 84px;
    }

    .ins-carousel_paginations {
      position: absolute;
      bottom: 20px;
      width: 100%;
      z-index: 3;
    }
  }

  &.layout-3 {
    position: relative;
    padding: 0 84px;

    &::after {
      content: "";
      clear: both;
      display: block;
    }

    .ins-carousel_left {
      float: left;
      width: 50%;
      padding: 30px 20px;
    }

    .ins-carousel_right {
      float: right;
      width: 50%;
    }

    .ins-carousel_sub-heading {
      margin-bottom: 30px;
    }

    .ins-carousel_paginations {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 768px) {
  .ins-carousel.layout-1,
  .ins-carousel.layout-2,
  .ins-carousel.layout-3 {

    & .ins-carousel_body {
      padding: 0;
    }

    & .ins-carousel_ctrl-btns {
      display: none;
    }
  }

  .ins-carousel.layout-2 {
    .ins-carousel_head {
      padding: 20px;
    }
  }

  .ins-carousel.layout-3 {
    padding: 0;

    .ins-carousel_left,
    .ins-carousel_right {
      float: none;
      width: 100%;
    }

    .ins-carousel_left {
      padding: 20px 0;
    }
  }
}
