.ins-ta {
  position: relative;

  textarea {
    width: 100%;
    min-height: 200px;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #E4E6EC;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: .5rem;
    padding-right: 30px;

    &::placeholder {
      color: #8C94A4;
    }

    &:active,
    &:focus {
      border-color: #1e86e3;
      box-shadow: none;
    }

    &:active + .icon-search,
    &:focus + .icon-search {
      color: #1e86e3;
    }


    &:disabled {
      border-color: #E4E6EC !important;
      background-color: #FAFBFC;
      color: #8C94A4;
    }

    &[readonly] {
      border-color: #E4E6EC !important;
      background-color: #fafbfc;
      color: #8c94a4;
    }
  }

  label {
    font-size: 12px;
    font-weight: 600;
    color: #2C3148;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 2px;

    &.disabled {
      color: #8C94A4;
    }

    &.active {
      color: #1e86e3;
    }
  }
}
.ins-textarea-wrap.is-invalid {
  label {
    color: #F27474;
  }
  textarea {
    color: #F27474;
    border-color: #F27474;
    background-color: #FEF8F8;
    margin-bottom: 8px;

    &::-webkit-input-placeholder {
      color: #F27474;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #F27474;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: #F27474;
    }

    &:-ms-input-placeholder {
      color: #F27474;
    }
  }
  .ins-form-error {
    display: block;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    line-height: 16px;
    color: #F27474;
    margin-bottom: 20px;
  }
}
