// Primary
$ink: #2c3148;
$blue: #1e86e3;
$green: #24be8d;
$turquoise: #2bbad9;

// UI Colours
$warning: #ffa639;
$negative: #f27474;
$information1: #ff3366;
$information2: #fdd835;

// Shade of Ink
$ink40: #8c94a4;
$ink10: #E4E6EC;
$ink5: #f2f4f8;
$ink1: #ffffff;

.ins-checkbox-card-wrap {
  border: solid 1px #e4e6ec;
  border-radius: 3px;
  margin-top: 0;
  box-shadow: 1px 1px 3px #E4E6ED;
  background: #fff;
  transition: all .15s;
  padding: 15px;
  box-shadow: none;
  cursor: pointer;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 13px #E4E6ED;
  }

  &:focus {
    margin-top: -3px;
    box-shadow: 0px 4px 13px #E4E6ED;
    outline: none;
  }

  &.outlined {
    border-style: dashed;
    box-shadow: none;
  }
}

.ins-checkbox-card-wrap.no-padding {
  padding: 0;
}
.ins-checkbox-card-wrap.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.ins-checkbox-card-wrap.selected {
  margin-top: -3px;
  box-shadow: 0px 4px 13px #E4E6ED;

  .selected-wrap {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 28px;
    height: 28px;
    background-color: #e4e6ec;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    padding-top: 6px;
    text-align: center;
  }

  &.ink {
    border-color: $ink;
    .selected-wrap {
      background-color: $ink;
    }
  }

  &.blue {
    border-color: $blue;
    .selected-wrap {
      background-color: $blue;
    }
  }

  &.green, &.positive {
    border-color: $green;
    .selected-wrap {
      background-color: $green;
    }
  }

  &.turquoise {
    border-color: $turquoise;
    .selected-wrap {
      background-color: $turquoise;
    }
  }

  &.warning {
    border-color: $warning;
    .selected-wrap {
      background-color: $warning;
    }
  }

  &.negative {
    border-color: $negative;
    .selected-wrap {
      background-color: $negative;
    }
  }

  &.information1 {
    border-color: $information1;
    .selected-wrap {
      background-color: $information1;
    }
  }

  &.information2 {
    border-color: $information2;
    .selected-wrap {
      background-color: $information2;
    }
  }

  &.ink40 {
    border-color: $ink40;
    .selected-wrap {
      background-color: $ink40;
    }
  }

  &.ink10 {
    border-color: $ink10;
    .selected-wrap {
      background-color: $ink10;
    }
  }

  &.ink5 {
    border-color: $ink5;
    .selected-wrap {
      background-color: $ink5;
    }
  }

  &.ink1 {
    border-color: $ink1;
    .selected-wrap {
      background-color: $ink1;
    }
  }
}
