ins-checkbox {
  $theme-blue: #1f86e3;
  .ins-checkbox-wrap {
    padding: 0 10px;


    label {
      display: inline-block;

        span {
          font-family: "Roboto", "Open Sans", sans-serif;
          font-size: .875rem;
          font-weight: 400;
          line-height: 1.8;
          color: #8C94A4;
          display: inline-block;
          vertical-align: top !important;
          margin-top: -4.5px;
          margin-left: 16px !important;
      }
    }

    .ripple-check {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      position: relative;
      width: 16px;
      height: 16px;
      -webkit-transition: background 0.15s ease-out;
      -moz-transition: background 0.15s ease-out;
      transition: background 0.15s ease-out;
      background: #E4E6EC;
      border: none;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      outline: none;
      z-index: 990;
      border-radius: 1px;

      &:hover {
        background: #8C94A4;
        @media only screen and (max-width: 425px) {
          & {
            background: #E4E6EC;
          }
        }
      }

      &:checked { background: $theme-blue; }

      &:checked::before {
        width: 16px;
        height: 16px;
        position: absolute;
        // transform: rotate(40deg);
        display: inline-block;
        font-size: 8px;
        text-align: center;
        line-height: 16px;
        content: "\e926";
        font-family: 'insites-20-fonticon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
      }

      &:checked::after {
        -webkit-animation: click-wave 0.3s;
        -moz-animation: click-wave 0.3s;
        animation: click-wave 0.3s;
        background: $theme-blue;
        content: '';
        display: block;
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        opacity: 0;
        border-radius: 1px;
      }

      &.radio {
        border-radius: 50%;
        width: 20px;
        height: 20px;
      }
      &.radio:checked::before {
        width: 20px;
        height: 20px;
        line-height: 20px;
        padding-top: 1px;
      }
       &.radio:checked::after {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }
  }
}
@-webkit-keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.35;
}
 100% {
 transform: scale(2);
 opacity: 0.0;
}
}

@-moz-keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.35;
}
 100% {
 transform: scale(2);
 opacity: 0.0;
}
}

@-o-keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.35;
}
 100% {
 transform: scale(2);
 opacity: 0.0;
}
}

@keyframes
click-wave { 0% {
 transform: scale(1);
 opacity: 0.65;
}
 100% {
 transform: scale(2.5);
 opacity: 0.0;
}
}
// .ins-checkbox-label {
//   display: block;
//   position: relative;
//   cursor: pointer;
//   user-select: none;

//   input {
//     position: absolute;
//     width: 16px;
//     height: 16px;
//     opacity: 0;
//     cursor: pointer;
//     margin: 0;
//     top: 1px;
//     left: 0;

//     &:checked ~ .checkmark {
//       background-color: #1E86E3;
//       border: solid 1px #1E86E3;
//     }

//     &:checked ~ .checkmark:after {
//       display: block;
//     }
//   }

//   .label {
//     font-size: 14px;
//     font-family: 'Open Sans', sans-serif;
//   }

//   .checkmark {
//     height: 16px;
//     display: block;
//     width: 16px;
//     background-color: #ffffff;
//     border: solid 1px #979797;
//     border-radius: 1px;
//     box-sizing: border-box;
//     float: left;
//     position: relative;
//     margin: 1px 6px 0 0;

//     &:after {
//       content: "";
//       position: absolute;
//       display: none;
//       left: 5px;
//       top: 0px;
//       width: 4px;
//       height: 10px;
//       border: solid white;
//       border-width: 0 1px 1px 0;
//       -webkit-transform: rotate(45deg);
//       transform: rotate(45deg);
//     }
//   }

//   &:hover input ~ .checkmark {
//     border-color: #1E86E3;
//   }

//   &:after {
//     clear: both;
//     content: '';
//     display: block;
//   }
// }

// .ins-checkbox-wrap {
//   position: relative;
//   .mdc-form-field {
//     display: inline-block;
//   }
//   .mdc-checkbox::before, .mdc-checkbox::after {
//     background-color: #1e86e3 !important;
//   }

//   .mdc-checkbox:hover::before {
//     opacity: 0.1;
//   }

//   .mdc-checkbox {
//     &__checkmark {
//       top: 1px;
//       left: 1px;
//       width: 85%;
//     }
//     &__background {
//       left: 12px;
//       top: 12px;
//       border-width: 1px;
//       width: 40%;
//       height: 40%;
//     }
//   }

//   .mdc-checkbox__background::before {
//     background-color: #1e86e34d !important;
//   }

//   .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
//     z-index: 1;
//   }

//   .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
//   .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
//     border-color: #1e86e3 !important;
//     /* @alternate */
//     border-color: var(--mdc-theme-secondary, #1e86e3) !important;
//     background-color: #1e86e3 !important;
//     /* @alternate */
//     background-color: var(--mdc-theme-secondary, #1e86e3) !important;
//   }

//   .mdc-checkbox__native-control:focus ~ .mdc-checkbox__background::before {
//     transform: none !important;
//     transition: opacity !important;
//     transition: opacity !important;
//     transition: opacity !important;
//     opacity: 0.1 !important;
//   }

//   .ins-label {
//     font-family: "Roboto", "Open Sans", sans-serif;
//     font-size: .875rem;
//     font-weight: 400;
//     line-height: 1.8;
//     color: #8C94A4;
//     display: inline-block;
//     position: absolute;
//     top: 6px;
//     padding-left: 5px;
//   }
// }

