// color pallete
$black: #2c3148;
$red: #f27474;
$orange: #ffa639;
$yellow: #fdd835;
$pink: #ff3366;
$turquoise: #2bbad9;
$blue: #1e86e3;
$green: #24be8d;
$dark-grey: #8c94a4;
$medium-grey: #e4e6ec;
$light-grey: #f2f4f8;
$wash-white: #fafbfc;
$white: #ffffff;

ins-markdown-editor {
    .ins-markdown-editor {
        &.active {
            .editor-toolbar:not(.fullscreen) {
                border: 1px solid $blue;
                border-bottom: none;
            }
            .CodeMirror-wrap:not(.CodeMirror-fullscreen) {
                border: 1px solid $blue;
                border-top: none;
                &.CodeMirror-sided {
                    border-right: none;
                }
            }
        }
        margin-bottom: 15px;
        label {
            font-size: 12px;
            font-weight: 600;
            color: $black;
            font-family: "Open Sans", sans-serif;
            margin-bottom: 2px;

            &.disabled {
                color: $dark-grey;
            }

            &.active {
                color: $blue;
            }
        }
        .editor-toolbar {
            opacity: 1;
            background: $light-grey;
            padding: 16px;
            border: 1px solid rgba(0,0,0,.075);
            border-bottom: none;
            &:hover {
                opacity: 1;
            }
            &.fullscreen {
                z-index: 1051;
                height: 66px;
                padding: 16px;
                background: $light-grey;
            }
            &::before, &::after, .separator {
                display: none;
            }
            a {
                background: $medium-grey;
                border: none;
                margin-right: 2px;
                font-size: 13px;
                border-radius: 2px;
                color: $dark-grey !important;
                height: 34px;
                width: 34px;
                &::before {
                    line-height: 34px;
                }
                &:hover, &.active {
                    background: #0068c4;
                    color: $white !important;
                }
                &:focus, &:active {
                    outline: none;
                }
            }
            &.disabled-for-preview {
                a:not(.no-disable) {
                    opacity: 0.4;
                    background: $medium-grey;
                }
            }
        }
        .CodeMirror {
            &-focused {
                // border-color: $blue;
            }
            &-fullscreen {
                top: 66px;
                z-index: 99999;
                border-radius: 0;
            }
            border: 1px solid rgba(0,0,0,.1);
            border-top: none;
        }
        .editor-preview-side {
            top: 66px;
            z-index: 99999;
            border-radius: 0;
            border-top: none;
            border-left: none;
        }
        &.is-invalid {
            .editor-toolbar:not(.fullscreen) {
                border: 1px solid $red;
                border-bottom: none;
            }
            .CodeMirror-wrap:not(.CodeMirror-fullscreen) {
                border: 1px solid $red;
                border-top: none;
                &.CodeMirror-sided {
                    border-right: none;
                }
            }
            label {
                color: $red;
            }
            .ins-form-error {
                margin-top: 8px;
                display: block;
                font-size: 12px;
                font-family: "Open Sans", sans-serif;
                line-height: 16px;
                color: $red;
                margin-bottom: 20px;
            }
        }
    }
}
