ins-toggle-switch {
  $theme-blue: #1f86e3;
  display: block;

  .v-switch {
    display: inline-block;
    padding: 10px 10px 0 10px;

    .ins-switch {
      position: relative;
      display: inline-block;
      min-width: 60px;
      height: 34px;
    }

    .ins-switch input {
      display: none;
    }

    .ins-slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      // background-color: #d6d7da;
      background-color: #E4E6EC;
      -webkit-transition: 0.4s;
      transition: 0.4s;

      margin: 0;
      height: 16px;
      width: 40px;
    }

    .ins-slider:hover {
      > i:before {
        -webkit-transition: 0.4s;
        content: "";
        //background-color: #1e86e3 !important;
        // border: solid 9px #d6d7da !important;
        border: solid 9px #E4E6EC !important;
        height: 38px;
        width: 38px;
        position: absolute;
        border-radius: 50px;
        top: calc(50% - 19px);
        right: calc(50% - 9px);
        opacity: .3;
      }
    }
    .ins-slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      bottom: -2px;
      background-color: #fff;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      box-shadow: 0 0 1px #b6b6b9;
    }

    input:checked + .ins-slider {
      background-color: #e8f0f5;
    }

    input:focus + .ins-slider {
      box-shadow: 0 0 1px $theme-blue;
    }

    input:checked + .ins-slider:before,
    input:checked + .ins-slider > i:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      background-color: $theme-blue;
      border: none;
    }

    input:checked + .ins-slider > i:before {
      border: solid 10px #1e86e3 !important;
      opacity: .1 !important;
    }

    /* Rounded ins-sliders */
    .ins-slider.round {
      border-radius: 34px;
    }

    .ins-slider.round:before {
      border-radius: 50%;
      // border: solid 1px #d6d7da;
      border: solid 1px #E4E6EC;
    }

    .ins-label {
      font-family: "Roboto", "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 400;
      display: block;
      padding-left: 52px;
      margin-top: -5px;
      color: #8C94A4;
    }

    &.disabled {

      // input:checked + .ins-slider {
      //   background-color: #E4E6EC;
      // }

      // input:checked + .ins-slider:before {
      //   background-color: #D8D8D8;
      // }

      input:checked + .ins-slider:hover > i:before {
        border-color: transparent !important;
        background: transparent;
      }
    }
  }
}
