$color: #f1f1f1;
$hoverColor: #f1f1f1;

ins-styleguide {

  &:nth-of-type(even) .ins-styleguide-wrap {
    background-color: $color;
  }

  .ins-styleguide-wrap {
    // border-bottom: solid 1px $color;
    padding: 0.9375rem;

    .ins-styleguide-label-wrap {
      padding-top: 0.9rem;
      font-size: 14px;
      font-weight: 600;
    }

    .ins-styleguide-cont {
      display: table;
      table-layout: fixed;
      width: 100%;
    }

    .ins-styleguide-actual-slot-wrap,
    .ins-styleguide-code-slot-wrap {
      width: 30%;
      box-sizing: border-box;
      // display: inline-flex;
      // float: left;
      display: table-cell;
      padding: 1em;
      overflow: auto;
      vertical-align: top;
    }
    .ins-styleguide-code-slot-wrap {
      width: 70%;
    }
    .ins-styleguide-actual-slot-wrap {
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }
  
      &::-webkit-scrollbar-track {
        box-shadow: none;
        -webkit-box-shadow: none;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #c4c4c4;
        border-radius: 16px;
        outline: none;
      }
    }

    &:hover {
      background-color: $hoverColor;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &.equal-width {
    .ins-styleguide-actual-slot-wrap,
    .ins-styleguide-code-slot-wrap {
      // @media (max-width: 1024px) {
      //   width: 50% !important;
      // }
    }
  }

  @media (max-width: 1024px) {
    .ins-styleguide-actual-slot-wrap,
    .ins-styleguide-code-slot-wrap {
      width: 100%;
      float: none;
    }
    .ins-styleguide-wrap {
      .ins-styleguide-actual-slot-wrap,
      .ins-styleguide-code-slot-wrap {
        width: 100% ;
        display: block;
        padding: 1em 0;
        // overflow: initial;
      }
    }
  }
  @media (max-width: 768px) {
    &.m-overflow-initial {
      .ins-styleguide-actual-slot-wrap {
        overflow: initial;
      }
    }
    // .ins-styleguide-wrap {
    //   .ins-styleguide-actual-slot-wrap,
    //   .ins-styleguide-code-slot-wrap {
    //     width: 100%;
    //     display: block;
    //     padding: 1em 0;
    //   }
    // }
  }

  @media (max-width: 414px) {
    &:nth-of-type(even) .ins-styleguide-wrap,
    .ins-styleguide-wrap,
    .ins-styleguide-wrap:hover {
      padding: 0;
      background-color: unset;
    }
  }
  @media (max-width: 320px) {
    .ins-styleguide-wrap {
      //width: 320px;
    }
  }
}
