.ins-title-wrapper {
    h1 {
        opacity: 0.87;	
        color: #1A1D2C;	
        font-family: "Open Sans", sans-serif;
        font-size: 24px;	
        font-weight: 300;	
        line-height: 33px;
    }
}