.ins-notifications-item-wrap {
    box-sizing: border-box;
    padding: 14px 0px 14px 38px;
    position: relative;
    border-bottom: solid 1px #eee;
    top: 100vh;
    transition: top 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 0;
  &.show {
    top: 0;
    opacity: 1;
  }
  .ins-niw-status-wrap {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #f3f3f3;
    position: absolute;
    left: 0px;
    top: 15px;
    color: #fff;
    font-size: 10px;
    padding: 5px 6px;
    box-sizing: border-box;
  }
  .ins-niw-status-wrap.green {
    background-color: #24be8d;
  }
  .ins-niw-status-wrap.blue {
    background-color: #1e86e3;
  }
  .ins-niw-status-wrap.red {
    background-color: #f27474;
  }
  .icon-today {
    font-size: 11px;
    margin-left: 1px;
  }
  .icon-settings {
    margin-left: 1px;
  }
  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #1A1D2C;
  }
  h3 {
    font-size: 14px;
    position: relative;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    color: #2C3148;
    margin-top: 20px;
  }
  .ins-niw-duration-wrap {
    font-size: 11px;
    position: absolute;
    right: 0;
    font-weight: 400;
    color: #8C94A4;
    top: 50%;
    margin-top: -8px;
  }
  p {
    font-size: 12px;
    line-height: 20px;
    color: #8C94A4;

    a {
      color: #1E86E3;
      text-decoration: none;
      margin-left: 5px;
      font-weight: 600;
    }
    a.link-only {
      margin-left: 0;
    }
  }
}
