.ins-sparkline {
  background-color: var(--ins-bg-color);
  color: var(--ins-color-ink);

  i {
    color: var(--ins-color-blue);
    padding-right: 12px;
  }

  h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    font-family: var(--ins-font-family);
    display: inline-block;
  }

  .value {
    font-size: 55px;
    font-weight: 300;
    font-family: var(--ins-font-family);
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.8px;
    line-height: 98px;
    display: block;
  }

  .chart-container {
    width: 100%;
    height: auto;
  }

  .description {
    color: var(--ins-color-ink40);
    font-size: 12px;
    letter-spacing: 0.13px;
    line-height: 17px;
    position: relative;

    .arrow {
      position: absolute;
      left: 5px;
      top: 3px;
      background: var(--ins-color-ink);
      display: inline-block;
      height: 9px;
      width: 2px;
    }

    .arrow:before {
      position: absolute;
      content: "";
      height: 7px;
      width: 2px;
      top: -2px;
      left: -2px;
      background: var(--ins-color-ink);
      transform: rotate(51deg);
    }

    .arrow:after {
      position: absolute;
      content: "";
      height: 7px;
      width: 2px;
      top: -2px;
      left: 2px;
      background: var(--ins-color-ink);
      transform: rotate(-51deg);
    }

    &.increase,
    &.decrease {
      padding-left: 18px;
    }

    &.increase {
      span {
        color: var(--ins-color-green);
      }

      span.arrow,
      span.arrow:before,
      span.arrow:after {
        background-color: var(--ins-color-green);
      }
    }

    &.decrease {
      span {
        color: var(--ins-color-red);
      }

      span.arrow {
        transform: rotate(180deg);
      }

      span.arrow,
      span.arrow:before,
      span.arrow:after {
        background-color: var(--ins-color-red);
      }
    }
  }
}
