.ins-timeline-wrap {
  background-color: var(--ins-bg-color);

  .ins-timeline-body {
    word-break: break-word;
  }

  .ins-timeline-header {
    padding: 20px;
    border-bottom:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    h3 {
      font-family: var(--ins-font-family);
      font-size: 18px;
      margin-bottom: 0;
      color: var(--ins-color-ink);
    }
  }
  .ins-timeline-list {
    position: relative;
    margin: 0;
    overflow: auto;
    display: block;
    &:first-child { padding-top: 10px; }
    &.loading { display: none; }

    &:before {
      content: "";
      display: block;
      width: 1px;
      height: calc(100% + 0px);
      background: var(--ins-color2);
      position: absolute;
      left: 36px;
      top: 0;
    }
  }
}
