ins-tooltip {
  .ins-tooltip-wrap {
    display: inline-block;
    position: relative;

    .tooltip-inner {
      font-size: 14px;
      font-weight: 400;
    }


    .tooltip-label {
      transition: all 0.1s ease;
      vertical-align: middle;
      font-size: 9px;
      font-family: var(--ins-font-family);
      font-weight: 600;
      padding: 2.5px 6px;
      color: var(--ins-color-ink40);
      cursor: pointer;
      background-color: var(--ins-bg-color2);

      i {
        font-style: normal;
      }

      &:hover {
        background-color: var(--ins-color-blue);
        color: var(--ins-color-white);
      }
      &.circle {
        border-radius: 50%;
        display: inline-block;
        font-size: 12px;
        padding: 0;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 1.5;
      }
      &.rectangle {
        padding: 3px 6px;
      }
      &.no-background {
        background: none;

        &:hover {
          color: var(--ins-color-blue);
        }
      }
    }
  }

  .popper,
  .tooltip {
    position: absolute;
    background-color: var(--ins-bg-color);
    color: var(--ins-color-ink);
    border-radius: 2px;
    box-shadow:
      var(--ins-shadow-x)
      var(--ins-shadow-y)
      var(--ins-shadow-blur)
      var(--ins-shadow-color);

    padding: 16px;
    font-size: 14px;
    max-width: initial;
    z-index: 9999;
    top: -6px !important;

    @media screen and (max-width: 1280px) {
      max-width: 60vw;
    }

    @media screen and (max-width: 568px) {
      max-width: 50vw;
    }

    &[x-out-of-boundaries] {
      display: none;
      visibility: hidden;
    }
  }

  .popper .popper__arrow,
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 12px;
  }

  .tooltip .tooltip-arrow,
  .popper .popper__arrow {
    border:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-bg-color);
  }

  .popper[x-placement^="top"],
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }

  .popper[x-placement^="top"] .popper__arrow,
  .tooltip[x-placement^="top"] .tooltip-arrow {
    width: 10px;
    height: 10px;
    background: #fff;
    border: none;
    box-shadow:
      var(--ins-shadow-x)
      var(--ins-shadow-y)
      var(--ins-shadow-blur)
      var(--ins-shadow-color);

    transform: rotate(45deg);
    margin: 0;
    bottom: -5px;
  }

  .popper[x-placement^="bottom"],
  .tooltip[x-placement^="bottom"] {
    margin-top: 12px;
  }

  .tooltip[x-placement^="bottom"] .tooltip-arrow,
  .popper[x-placement^="bottom"] .popper__arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }

  .tooltip[x-placement^="right"],
  .popper[x-placement^="right"] {
    margin-left: 6px;
  }

  .popper[x-placement^="right"] .popper__arrow,
  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }

  .popper[x-placement^="left"],
  .tooltip[x-placement^="left"] {
    margin-right: 6px;
  }

  .popper[x-placement^="left"] .popper__arrow,
  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
}
