ins-tag span {
  &.tagged,
  &.ins-tag {
    border-radius: var(--ins-border-radius);
    font-family: var(--ins-font-family);
    background-color: var(--ins-bg-color3);
    padding: 6px 10px;
    min-width: 70px;
    font-size: 11px;
    line-height: 14px;
    font-weight: 600;
    color: var(--ins-color-white);
    text-align: center;
    display: inline-block;

    &.font-inherit {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    span {
      margin-right: 3px;
    }
    &.blue {
      background-color: var(--ins-color-blue);
    }
    &.new,
    &.orange {
      background-color: var(--ins-color-orange);
    }
    &.closed,
    &.grey {
      background-color: var(--ins-color-grey);
    }
    &.pending &.yellow {
      background-color: var(--ins-color-yellow);
    }

    &.flagged,
    &.negative,
    &.error,
    &.invalid,
    &.archived,
    &.disabled,
    &.red {
      background-color: var(--ins-color-red);
    }

    &.open,
    &.positive,
    &.published,
    &.active,
    &.valid,
    &.enabled,
    &.green {
      background-color: var(--ins-color-green);
    }

    &.light {
      background-color: var(--ins-bg-color2);
      color: var(--ins-color-ink);

      &.blue {
        background-color: var(--ins-color-blue-10p);
        color: var(--ins-color-blue);
      }

      &.new,
      &.orange {
        background-color: var(--ins-color-orange-10p);
        color: var(--ins-color-orange);
      }

      &.closed,
      &.grey {
        background-color: var(--ins-bg-color3);
      }

      &.pending,
      &.yellow {
        background-color: var(--ins-color-yellow-10p);
        color: var(--ins-color-yellow);
      }

      &.flagged,
      &.negative,
      &.error,
      &.invalid,
      &.archived,
      &.disabled,
      &.red {
        background-color: var(--ins-color-red-10p);
        color: var(--ins-color-red);
      }

      &.open,
      &.positive,
      &.published,
      &.active,
      &.valid,
      &.enabled,
      &.green {
        background-color: var(--ins-color-green-10p);
        color: var(--ins-color-green);
      }
    }
  }
}
