.ins-progress-bar {
  font-family: var(--ins-font-family);
  color: var(--ins-border-ink);

  border-bottom:
    var(--ins-border-style)
    var(--ins-border-thickness)
    var(--ins-border-color);

  width: 100%;
  background: transparent;
  text-align: center;
  padding: 4px 15px;
  box-sizing: border-box;
  font-size: 12px;
  transition: width 0.75s;
  position: relative;

  &.hidden {
    display: none;
  }

  .progress {
    background-color: var(--ins-color-blue);
    margin: 0;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: width 0.35s;
  }
}
