ins-markdown {
  .ins-label {
    font-size: 12px;
    font-weight: 600;
    color: var(--ins-color-ink);
    font-family: var(--ins-font-family);
    margin-bottom: 2px;

    &.disabled {
      color: var(--ins-color-ink40);
    }

    &.active {
      color: var(--ins-color-blue);
    }
  }
}
