.ins-timeline-item-wrap {
  padding: 10px 20px;
  position: relative;
  color: var(--ins-color-ink);

  .ins-icon-wrap {
    width: 31px;
    height: 31px;

    border:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-color-ink);

    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    position: absolute;
    left: 20px;
    top: calc(50% - 16px);
    background-color: var(--ins-bg-color);
    font-size: 13px;
    box-sizing: border-box;

    &.solid {
      background-color: var(--ins-color-ink);
      color: var(--ins-color-white);
    }

    &.no-icon {
      width: 11px;
      height: 11px;
      left: 31px;
      top: calc(50% - 6px);
      padding: 0;
    }

    &.grey {
      border-color: var(--ins-color-ink40);
      color: var(--ins-color-ink40);

      &.solid {
        background-color: var(--ins-color-ink40);
        color: var(--ins-color-white);
      }
    }

    &.pink {
      border-color: var(--ins-color-pink);
      color: var(--ins-color-pink);

      &.solid {
        background-color: var(--ins-color-pink);
        color: var(--ins-color-white);
      }
    }

    &.red {
      border-color: var(--ins-color-red);
      color: var(--ins-color-red);

      &.solid {
        background-color: var(--ins-color-red);
        color: var(--ins-color-white);
      }
    }

    &.blue {
      border-color: var(--ins-color-blue);
      color: var(--ins-color-blue);

      &.solid {
        background-color: var(--ins-color-blue);
        color: var(--ins-color-white);
      }
    }

    &.green {
      border-color: var(--ins-color-green);
      color: var(--ins-color-green);

      &.solid {
        background-color: var(--ins-color-green);
        color: var(--ins-color-white);
      }
    }

    &.turquoise {
      border-color: var(--ins-color-turquoise);
      color: var(--ins-color-turquoise);

      &.solid {
        background-color: var(--ins-color-turquoise);
        color: var(--ins-color-white);
      }
    }

    &.purple {
      border-color: var(--ins-color-purple);
      color: var(--ins-color-purple);

      &.solid {
        background-color: var(--ins-color-purple);
        color: var(--ins-color-white);
      }
    }

    &.fushcia {
      border-color: var(--ins-color-purple);
      color: var(--ins-color-purple);

      &.solid {
        background-color: var(--ins-color-purple);
        color: var(--ins-color-white);
      }
    }

    &.yellow {
      border-color: var(--ins-color-yellow);
      color: var(--ins-color-yellow);

      &.solid {
        background-color: var(--ins-color-yellow);
        color: var(--ins-color-white);
      }
    }

    &.orange {
      border-color: var(--ins-color-orange);
      color: var(--ins-color-orange);

      &.solid {
        background-color: var(--ins-color-orange);
        color: var(--ins-color-white);
      }
    }
  }

  .ins-timeline-body {
    font-family: var(--ins-font-family);
    font-size: 14px;
    width: calc(100% - 50px);
    margin-left: 50px;
    box-sizing: border-box;
    padding: 15px;
    background: var(--ins-bg-color5);
    border-radius: var(--ins-border-radius);
    position: relative;
    white-space: no-wrap;
    display: table;

    .ins-timeline-heading {
      margin-bottom: 15px;

      h6 {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .ins-timeline-datetime {
      margin-top: 15px;

      p {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 0;
        color: var(--ins-color-ink40);
      }
    }

    .ins-timeline-content {
      box-sizing: border-box;

      &.inline-content {
        display: table-cell;
        width: 100%;
        max-width: 85%;
      }
    }

    .ins-timeline-actions {
      box-sizing: border-box;
      text-align: right;
      margin-top: 10px;

      &.inline-content {
        display: table-cell;
        padding-left: 20px;
        margin-top: 0px;
        width: 100%;
        max-width: 200px;
        vertical-align: middle;

      }
    }
  }
}
