.ins-card-wrap {
    border-radius: var(--ins-border-radius);
    border:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    box-shadow:
      var(--ins-shadow-x)
      var(--ins-shadow-y)
      var(--ins-shadow-blur)
      var(--ins-shadow-color);

    margin-top: 0;

    background: var(--ins-bg-color);
    transition: all .15s;
    padding: 20px;

    &:hover {
      margin-top: -3px;
      box-shadow: 0px 4px 13px var(--ins-shadow-color);
    }

    &.outlined {
      border-style: dashed;
      box-shadow: none;
    }
  }

  .ins-card-wrap.steady:hover {
    margin-top: 0px;

    box-shadow:
      var(--ins-shadow-x)
      var(--ins-shadow-y)
      var(--ins-shadow-blur)
      var(--ins-shadow-color);
  }

  .ins-card-wrap.no-padding {
    padding: 0;
  }
