ins-sort {
  .insites-sortable{
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      
      > * {
        flex: 1 0 100%;
      }
  }

  > div > div > * {
    cursor: move;
  }


  .sortable-ghost {
    opacity: .6;
  }
}