ins-filter {
  .filter {
    font-size: 12px;
    font-family: var(--ins-font-family);
    display: inline-block;
    position: relative;
    margin-right: 20px;

    &__label {
      margin-right: 18px;
      display: block;
      float: left;
      margin-top: 7px;
    }
    &__date {
      display: inline-block;
      // margin-right: 15px;
    }
    &__btn-container {
      display: inline-block;
      position: relative;
      vertical-align: middle;
    }
  }

  .date-filter {
    border-radius: var(--ins-border-radius);
    background-color: var(--ins-bg-color2);
    display: inline-block;
    padding: 7px 7px;
    color: var(--ins-color-ink);
    cursor: pointer;
    overflow: hidden;
    position: relative;

    &__text {
      font-weight: 600;
    }

    .fas {
      margin-left: 8px;
      color: var(--ins-color-ink40);
      font-size: 12px;
    }
  }

  .date-range {

    background-color: var(--ins-bg-color);
    font-size: 14px;
    box-shadow:
      0 2px 4px 0 var(--ins-shadow-color),
      1px 1px 3px 0 var(--ins-shadow-color);

    border-radius: var(--ins-border-radius);
    display: none;
    position: absolute;
    min-width: 656px;
    padding: 8px;
    z-index: 3;

    &.active {
      display: block;
      top: 42px;
      left: 0;
    }

    &__opt-container {
      display: flex;
      justify-content: space-around;
      margin-bottom: 5px;

      > div {
        display: inline-block;
        font-size: 12px;
        color: var(--ins-color-ink40);
        cursor: pointer;
        margin: 6px 0;

        > div {
          display: inline-block;
          padding: 5px;
          border-radius: var(--ins-border-radius);

          &:hover {
            background-color: var(--ins-bg-color2);
            color: var(--ins-color-ink);
            font-weight: 600;
          }
        }
      }
    }

    &__action {
      display: block;
      color: var(--ins-color-ink40);
      padding: 15px 0 5px;
      width: 100%;

      input {
        padding: 2px;
        border-radius: 2px;
        text-align: center;
        font-size: 12px;
        font-family: var(--ins-font-family);
        color: var(--ins-color-ink);
        background-color: var(--ins-bg-color);
        border:
          var(--ins-border-style)
          var(--ins-border-thickness)
          var(--ins-border-color);

        display: inline-block;
        box-shadow: none;
        margin: 0;

        width: auto;
        height: auto;

        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
          display: none;
          -webkit-appearance: none;
        }
      }
    }

    &__cancel-apply {
      float: right;

      ins-button:first-of-type {
        margin-right: 10px;
      }

      button {
        min-width: 76px;
      }
    }

    input[type="date"]::-webkit-input-placeholder {
      visibility: hidden !important;
    }

    i.fas {
      position: absolute;
    }
  }
}

.active-tab {
  background-color: var(--ins-bg-color2);
  color: var(--ins-color-ink);
  font-weight: 600;
}

ins-filter {

  .input-wrap {
    position: relative;
    display: inline-block;
    padding: 6px 6px 0px;
    background: var(--ins-bg-color5);

    .ins-form-field {
      display: none;
    }

    .flatpickr-calendar {
      position: relative;
      top: 0 !important;
      left: 0 !important;
      margin: 0;
      display: inline-block;
      padding-bottom: 0;
      box-shadow: none;
      background: var(--ins-bg-color5);
    }
  }

  .ins-label {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  ins-filter {

    .filter {
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    .d-spacer {
      display: none;
    }

    .ins-label {
      display: block;
      font-family: var(--ins-font-family);
      font-size: 12px;
      font-weight: 600;
      color: var(--ins-color-ink);
      margin-bottom: 3px;
      display: block;
      line-height: 1.4;
    }

    .input-wrap {
      display: none;
    }

    .date-range {
      width: 100%;
      min-width: auto;
      box-sizing: border-box;

      &.active {
        top: initial;
      }
    }

    .date-range__opt-container {
      display: block;
    }

    .date-range__opt-container > div {
      display: inline-block;
      min-width: 33.33%;
      padding: 8px;
      box-sizing: border-box;

      & > div {
        display: block;
        padding: 8px;
        text-align: center;
        background: var(--ins-bg-color5);
        color: var(--ins-color-ink);

        &.active-tab {
          background: var(--ins-bg-color2);
        }
      }
    }

    .date-range__action {
      padding: 0 8px;
      box-sizing: border-box;

      input {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: left;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 20px;
        outline: none;

        &::-webkit-inner-spin-button,
        &::-webkit-calendar-picker-indicator {
          display: initial;
          -webkit-appearance: initial;
        }

        &.ins-date-from {
          margin-bottom: 10px;
        }
      }
    }

    .date-range__cancel-apply {
      float: none;
      text-align: right;

      button {
        min-width: 80px;
        margin-bottom: 20px;
        font-size: 12px;
        padding: 8px;
        height: auto;
      }
    }

    /* end ins-filter */
  }

  /* end media*/
}



@media only screen and (max-width: 420px) {
  ins-filter {
    .filter,
    .filter__label,
    .filter__date,
    .filter__btn-container {
      display: block;
      width: 100%;
    }

    .filter__label {
      margin: 0 0 10px;
      float: none;
    }

    .date-filter {
      width: 100%;
      box-sizing: border-box;
      position: relative;

      i {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }

    .date-range__cancel-apply {
      button {
        width: 100%;
        min-width: auto;
        margin-bottom: 20px;
      }
    }

    .date-range {
      &.active {
        top: 0;
      }
    }
  }
}