.ins-thumbnail {
  width: 100%;

  .preview-left-btn {
    float: left;
  }

  .download-right-btn.has-preview {
    float: right;
  }

  .img-thumbnail-box {
    text-align: center;
    box-sizing: border-box;
    background: var(--ins-bg-color4);

    img {
      max-width: 120px;
      display: block;
      margin: 0 auto;
    }

    svg {
      margin: 30px 0 20px;
    }
  }

  &-btn {
    border-top:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    padding: 16px;
    text-align: center;

    &:after {
      clear: both;
      display: block;
      content: "";
    }
  }
}

.ins-thumbnail-img:hover a,
.ins-thumbnail-img.hover a {
  transition: all 0.35s ease;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.ins-thumbnail-img:hover a:nth-child(2),
.ins-thumbnail-img.hover a:nth-child(2) {
  transition-delay: 0.1s;
}

.ins-thumbnail-img:hover a:nth-child(3),
.ins-thumbnail-img.hover a:nth-child(3) {
  transition-delay: 0.2s;
}

.ins-thumbnail-img {
  position: relative;
  transition: all 0.35s ease;
  width: 100%;
  background: var(--ins-bg-color);
  border:
    var(--ins-border-style)
    var(--ins-border-thickness)
    var(--ins-border-color);

  box-shadow:
    var(--ins-shadow-x)
    var(--ins-shadow-y)
    var(--ins-shadow-blur)
    var(--ins-shadow-color);

  border-radius: var(--ins-border-radius);
  margin-bottom: 15px;
}

.ins-thumbnail-btn > :last-child {
  margin-bottom: 0;
}

.icon-small {
  width: 100%;
}

.ins-thumbnail-img .ins-thumbnail-btn button.ins-button {
  padding-left: 8px;
  padding-right: 8px;
}

.ins-thumbnail-description {
  width: 100%;
  color: var(--ins-color-ink);
  font-size: 12px;
  font-family: var(--ins-font-family);
  text-align: center;
  letter-spacing: 0px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.download-right-btn {
  padding-left: 0px;
  padding-right: 0px;
}

.ins-thumbnail-description.blue {
  color: var(--ins-color-blue);
}

.no-source {
  text-align: center;
  padding: 20px 16px;
  font-size: 14px;
  color: var(--ins-color-red);
}
