@import "../fonts";
@import "../colors";
@import "../spacing";

$negative_bg: #FEF8F8;
$border_color: $ink10;
$border_thickness: 1px;
$border_style: solid;
$border_radius: 4px;
$input_field_font_size: 14px;
$input_field_font_weight: 400;

.ins-form-label {
  font-family: $default_font_family;
  font-size: 12px;
  font-weight: 600;
  color: $ink;
  margin-bottom: 3px;
  display: block;
  line-height: 1.4;
}

@import "./ins-card";
@import "./ins-filter";
@import "./ins-filter-item";
@import "./ins-progress-bar";
@import "./ins-thumbnail";
@import "./ins-tab";
@import "./ins-tab-item";
@import "./ins-tag";
@import "./ins-timeline";
@import "./ins-timeline-item";
@import "./ins-tooltip";
@import "./ins-info-table";
@import "./ins-sort";
@import "./ins-markdown";


@import "./ins-bar-chart";
@import "./ins-line-chart";
@import "./ins-pie-chart";
@import "./ins-sparkline";

