@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  font-weight: 800; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Italic.ttf);
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: 100; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-LightItalic.ttf);
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: 600; }

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-SemiBoldItalic.ttf);
  font-weight: 600;
  font-style: italic; }

.ins-form-label {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #2c3148;
  margin-bottom: 3px;
  display: block;
  line-height: 1.4; }

.ins-card-wrap {
  border: solid 1px #E4E6EC;
  border-radius: 4px;
  margin-top: 0;
  box-shadow: 1px 1px 3px #E4E6EC;
  background: #fff;
  transition: all .15s;
  padding: 20px; }
  .ins-card-wrap:hover {
    margin-top: -3px;
    box-shadow: 0px 4px 13px #E4E6EC; }
  .ins-card-wrap.outlined {
    border-style: dashed;
    box-shadow: none; }

.ins-card-wrap.steady:hover {
  margin-top: 0px;
  box-shadow: 1px 1px 3px #E4E6EC; }

.ins-card-wrap.no-padding {
  padding: 0; }

ins-filter .filter {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  position: relative; }
  ins-filter .filter__label {
    margin-right: 18px;
    display: block;
    float: left;
    margin-top: 7px; }
  ins-filter .filter__date {
    display: inline-block;
    margin-right: 15px; }
  ins-filter .filter__btn-container {
    display: inline-block;
    position: relative;
    vertical-align: middle; }

ins-filter .date-filter {
  border-radius: 4px;
  background-color: #e4e6ec;
  display: inline-block;
  padding: 7px 7px;
  color: #2c3148;
  cursor: default;
  overflow: hidden;
  position: relative; }
  ins-filter .date-filter__text {
    font-weight: 600; }
  ins-filter .date-filter .fas {
    margin-left: 8px;
    color: #8c94a4;
    font-size: 12px; }

ins-filter .date-range {
  background-color: #ffffff;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgba(15, 21, 38, 0.14), 1px 1px 3px 0 rgba(140, 148, 164, 0.2);
  border-radius: 4px;
  display: none;
  position: absolute;
  min-width: 575px;
  padding: 20px;
  z-index: 2;
  height: 401px; }
  ins-filter .date-range.active {
    display: block;
    top: 36px; }
  ins-filter .date-range__opt-container {
    display: flex;
    justify-content: space-around; }
    ins-filter .date-range__opt-container > div {
      display: inline-block;
      font-size: 11px;
      color: #8c94a4;
      cursor: pointer;
      margin: 6px 0; }
      ins-filter .date-range__opt-container > div > div {
        display: inline-block;
        padding: 5px;
        border-radius: 4px; }
        ins-filter .date-range__opt-container > div > div:hover {
          background-color: #e4e6ec;
          color: #2c3148;
          font-weight: 600; }
  ins-filter .date-range__action {
    display: block;
    color: #8c94a4;
    padding: 15px 0 0;
    width: 535px; }
    ins-filter .date-range__action input[type="text"],
    ins-filter .date-range__action input[type="date"] {
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      padding: 5px 0;
      padding-left: 10px;
      width: 104px;
      text-align: center;
      border-radius: 2px;
      border: solid 1px #e4e6ec;
      color: #2c3148;
      display: inline-block;
      background-color: #fff;
      box-shadow: none;
      margin: 0;
      height: 24px; }
      ins-filter .date-range__action input[type="text"]::-webkit-inner-spin-button, ins-filter .date-range__action input[type="text"]::-webkit-calendar-picker-indicator,
      ins-filter .date-range__action input[type="date"]::-webkit-inner-spin-button,
      ins-filter .date-range__action input[type="date"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none; }
  ins-filter .date-range__cancel-apply {
    float: right; }
    ins-filter .date-range__cancel-apply ins-button:first-of-type {
      margin-right: 10px; }
  ins-filter .date-range input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important; }
  ins-filter .date-range i.fas {
    position: absolute; }

.active-tab {
  background-color: #e4e6ec;
  color: #2c3148;
  font-weight: 600; }

.flatpickr-calendar {
  background: transparent;
  opacity: 0;
  display: none;
  text-align: center;
  visibility: hidden;
  padding: 0;
  -webkit-animation: none;
  animation: none;
  direction: ltr;
  border: 0;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  position: absolute;
  width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background: #fff;
  -webkit-box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6, 0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08); }

.flatpickr-calendar.open, .flatpickr-calendar.inline {
  opacity: 1;
  max-height: 640px;
  visibility: visible; }

.flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999; }

.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 2px; }

.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px); }

.flatpickr-calendar.static.open {
  z-index: 999;
  display: block; }

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  -webkit-box-shadow: -2px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
  box-shadow: -2px 0 0 #e6e6e6,5px 0 0 #e6e6e6; }

.flatpickr-calendar .hasWeeks .dayContainer, .flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0; }

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  height: 40px;
  border-top: 1px solid #e6e6e6; }

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto; }

.flatpickr-calendar:before, .flatpickr-calendar:after {
  position: absolute;
  display: block;
  pointer-events: none;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  left: 22px; }

.flatpickr-calendar.rightMost:before, .flatpickr-calendar.rightMost:after {
  left: auto;
  right: 22px; }

.flatpickr-calendar:before {
  border-width: 5px;
  margin: 0 -5px; }

.flatpickr-calendar:after {
  border-width: 4px;
  margin: 0 -4px; }

.flatpickr-calendar.arrowTop:before, .flatpickr-calendar.arrowTop:after {
  bottom: 100%; }

.flatpickr-calendar.arrowTop:before {
  border-bottom-color: #e6e6e6; }

.flatpickr-calendar.arrowTop:after {
  border-bottom-color: #fff; }

.flatpickr-calendar.arrowBottom:before, .flatpickr-calendar.arrowBottom:after {
  top: 100%; }

.flatpickr-calendar.arrowBottom:before {
  border-top-color: #e6e6e6; }

.flatpickr-calendar.arrowBottom:after {
  border-top-color: #fff; }

.flatpickr-calendar:focus {
  outline: 0; }

.flatpickr-wrapper {
  position: relative;
  display: inline-block; }

.flatpickr-months {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flatpickr-months .flatpickr-month {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9);
  height: 28px;
  line-height: 1;
  text-align: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  line-height: 16px;
  height: 28px;
  padding: 10px;
  z-index: 3;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9); }

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled, .flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: none; }

.flatpickr-months .flatpickr-prev-month i, .flatpickr-months .flatpickr-next-month i {
  position: relative; }

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month, .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  /*
      /*rtl:begin:ignore*/
  left: 0;
  /*
      /*rtl:end:ignore*/ }

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month.flatpickr-next-month, .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  /*
      /*rtl:begin:ignore*/
  right: 0;
  /*
      /*rtl:end:ignore*/ }

/*
      /*rtl:begin:ignore*/
/*
      /*rtl:end:ignore*/
.flatpickr-months .flatpickr-prev-month:hover, .flatpickr-months .flatpickr-next-month:hover {
  color: #959ea9; }

.flatpickr-months .flatpickr-prev-month:hover svg, .flatpickr-months .flatpickr-next-month:hover svg {
  fill: #f64747; }

.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
  width: 14px;
  height: 14px; }

.flatpickr-months .flatpickr-prev-month svg path, .flatpickr-months .flatpickr-next-month svg path {
  -webkit-transition: fill .1s;
  transition: fill .1s;
  fill: inherit; }

.numInputWrapper {
  position: relative;
  height: auto; }

.numInputWrapper input, .numInputWrapper span {
  display: inline-block; }

.numInputWrapper input {
  width: 100%; }

.numInputWrapper input::-ms-clear {
  display: none; }

.numInputWrapper input::-webkit-outer-spin-button, .numInputWrapper input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none; }

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57, 57, 57, 0.15);
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1); }

.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2); }

.numInputWrapper span:after {
  display: block;
  content: "";
  position: absolute; }

.numInputWrapper span.arrowUp {
  top: 0;
  border-bottom: 0; }

.numInputWrapper span.arrowUp:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(57, 57, 57, 0.6);
  top: 26%; }

.numInputWrapper span.arrowDown {
  top: 50%; }

.numInputWrapper span.arrowDown:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid rgba(57, 57, 57, 0.6);
  top: 40%; }

.numInputWrapper span svg {
  width: inherit;
  height: auto; }

.numInputWrapper span svg path {
  fill: rgba(0, 0, 0, 0.5); }

.numInputWrapper:hover {
  background: rgba(0, 0, 0, 0.05); }

.numInputWrapper:hover span {
  opacity: 1; }

.flatpickr-current-month {
  font-size: 135%;
  line-height: inherit;
  font-weight: 300;
  color: inherit;
  position: absolute;
  width: 75%;
  left: 12.5%;
  padding: 6.16px 0 0 0;
  line-height: 1;
  height: 28px;
  display: inline-block;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  margin-left: .5ch;
  padding: 0; }

.flatpickr-current-month span.cur-month:hover {
  background: rgba(0, 0, 0, 0.05); }

.flatpickr-current-month .numInputWrapper {
  width: 6ch;
  width: 7ch\0;
  display: inline-block; }

.flatpickr-current-month .numInputWrapper span.arrowUp:after {
  border-bottom-color: rgba(0, 0, 0, 0.9); }

.flatpickr-current-month .numInputWrapper span.arrowDown:after {
  border-top-color: rgba(0, 0, 0, 0.9); }

.flatpickr-current-month input.cur-year {
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 .5ch;
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

.flatpickr-current-month input.cur-year:focus {
  outline: 0; }

.flatpickr-current-month input.cur-year[disabled], .flatpickr-current-month input.cur-year[disabled]:hover {
  font-size: 100%;
  color: rgba(0, 0, 0, 0.5);
  background: transparent;
  pointer-events: none; }

.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: menulist;
  background: transparent;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: 300;
  height: 22px;
  line-height: inherit;
  margin: -1px 0 0 0;
  outline: none;
  padding: 0 0 0 .5ch;
  position: relative;
  vertical-align: initial;
  -webkit-box-sizing: border-box;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  width: auto; }

.flatpickr-current-month .flatpickr-monthDropdown-months:focus, .flatpickr-current-month .flatpickr-monthDropdown-months:active {
  outline: none; }

.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: rgba(0, 0, 0, 0.05); }

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  background-color: transparent;
  outline: none;
  padding: 0; }

.flatpickr-weekdays {
  background: transparent;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 28px; }

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

span.flatpickr-weekday {
  cursor: default;
  font-size: 90%;
  background: transparent;
  color: rgba(0, 0, 0, 0.54);
  line-height: 1;
  margin: 0;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: bolder; }

.dayContainer, .flatpickr-weeks {
  padding: 1px 0 0 0; }

.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 307.875px; }

.flatpickr-days:focus {
  outline: 0; }

.dayContainer {
  padding: 0;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.dayContainer + .dayContainer {
  -webkit-box-shadow: -1px 0 0 #e6e6e6;
  box-shadow: -1px 0 0 #e6e6e6; }

.flatpickr-day {
  background: none;
  border: 1px solid transparent;
  border-radius: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #393939;
  cursor: pointer;
  font-weight: 400;
  width: 14.2857143%;
  -webkit-flex-basis: 14.2857143%;
  -ms-flex-preferred-size: 14.2857143%;
  flex-basis: 14.2857143%;
  max-width: 39px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  display: inline-block;
  position: relative;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange, .flatpickr-day:hover, .flatpickr-day.prevMonthDay:hover, .flatpickr-day.nextMonthDay:hover, .flatpickr-day:focus, .flatpickr-day.prevMonthDay:focus, .flatpickr-day.nextMonthDay:focus {
  cursor: pointer;
  outline: 0;
  background: #e6e6e6;
  border-color: #e6e6e6; }

.flatpickr-day.today {
  border-color: #959ea9; }

.flatpickr-day.today:hover, .flatpickr-day.today:focus {
  border-color: #959ea9;
  background: #959ea9;
  color: #fff; }

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay {
  background: #569ff7;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  border-color: #569ff7; }

.flatpickr-day.selected.startRange, .flatpickr-day.startRange.startRange, .flatpickr-day.endRange.startRange {
  border-radius: 50px 0 0 50px; }

.flatpickr-day.selected.endRange, .flatpickr-day.startRange.endRange, .flatpickr-day.endRange.endRange {
  border-radius: 0 50px 50px 0; }

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)), .flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #569ff7;
  box-shadow: -10px 0 0 #569ff7; }

.flatpickr-day.selected.startRange.endRange, .flatpickr-day.startRange.startRange.endRange, .flatpickr-day.endRange.startRange.endRange {
  border-radius: 50px; }

.flatpickr-day.inRange {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6;
  box-shadow: -5px 0 0 #e6e6e6,5px 0 0 #e6e6e6; }

.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover, .flatpickr-day.prevMonthDay, .flatpickr-day.nextMonthDay, .flatpickr-day.notAllowed, .flatpickr-day.notAllowed.prevMonthDay, .flatpickr-day.notAllowed.nextMonthDay {
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  border-color: transparent;
  cursor: default; }

.flatpickr-day.flatpickr-disabled, .flatpickr-day.flatpickr-disabled:hover {
  cursor: not-allowed;
  color: rgba(57, 57, 57, 0.1); }

.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #569ff7,5px 0 0 #569ff7;
  box-shadow: -5px 0 0 #569ff7,5px 0 0 #569ff7; }

.flatpickr-day.hidden {
  visibility: hidden; }

.rangeMode .flatpickr-day {
  margin-top: 1px; }

.flatpickr-weekwrapper {
  float: left; }

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  -webkit-box-shadow: 1px 0 0 #e6e6e6;
  box-shadow: 1px 0 0 #e6e6e6; }

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px; }

.flatpickr-weekwrapper span.flatpickr-day, .flatpickr-weekwrapper span.flatpickr-day:hover {
  display: block;
  width: 100%;
  max-width: none;
  color: rgba(57, 57, 57, 0.3);
  background: transparent;
  cursor: default;
  border: none; }

.flatpickr-innerContainer {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.flatpickr-rContainer {
  display: inline-block;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.flatpickr-time {
  text-align: center;
  outline: 0;
  display: block;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flatpickr-time:after {
  content: "";
  display: table;
  clear: both; }

.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 40%;
  height: 40px;
  float: left; }

.flatpickr-time .numInputWrapper span.arrowUp:after {
  border-bottom-color: #393939; }

.flatpickr-time .numInputWrapper span.arrowDown:after {
  border-top-color: #393939; }

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%; }

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%; }

.flatpickr-time input {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  color: #393939;
  font-size: 14px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

.flatpickr-time input.flatpickr-hour {
  font-weight: bold; }

.flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second {
  font-weight: 400; }

.flatpickr-time input:focus {
  outline: 0;
  border: 0; }

.flatpickr-time .flatpickr-time-separator, .flatpickr-time .flatpickr-am-pm {
  height: inherit;
  float: left;
  line-height: inherit;
  color: #393939;
  font-weight: bold;
  width: 2%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.flatpickr-time .flatpickr-am-pm {
  outline: 0;
  width: 18%;
  cursor: pointer;
  text-align: center;
  font-weight: 400; }

.flatpickr-time input:hover, .flatpickr-time .flatpickr-am-pm:hover, .flatpickr-time input:focus, .flatpickr-time .flatpickr-am-pm:focus {
  background: #eee; }

.flatpickr-input[readonly] {
  cursor: pointer; }

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

ins-filter .input-wrap {
  position: relative; }
  ins-filter .input-wrap .flatpickr-calendar {
    border-radius: 0;
    margin-top: 4px;
    background-color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: 400;
    -webkit-box-shadow: 0 2px 4px 0 rgba(15, 21, 38, 0.14), 1px 1px 3px 0 rgba(140, 148, 164, 0.2);
    box-shadow: 0 2px 4px 0 rgba(15, 21, 38, 0.14), 1px 1px 3px 0 rgba(140, 148, 164, 0.2);
    padding: 7px 7px 12px;
    top: 60px !important;
    right: initial !important;
    left: 0 !important; }
    ins-filter .input-wrap .flatpickr-calendar.noCalendar.showTimeInput.hasTime {
      padding: 7px;
      width: auto;
      border-radius: 4px; }
      ins-filter .input-wrap .flatpickr-calendar.noCalendar.showTimeInput.hasTime .flatpickr-time {
        border: 0;
        padding-top: 0; }
    ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg,
    ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg {
      display: none; }
    ins-filter .input-wrap .flatpickr-calendar .flatpickr-months {
      background: #fafbfc;
      color: #2C3148;
      padding: 4px;
      position: relative;
      padding-top: 6px; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-prev-month,
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
        top: calc(50% - 14px); }
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-prev-month:before,
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-next-month:before {
          content: " ";
          display: block;
          border-left: 2px solid #8C94A4;
          border-top: 2px solid #8C94A4;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          cursor: pointer;
          width: 8px;
          height: 8px; }
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-prev-month:hover:before,
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-next-month:hover:before {
          border-left: 2px solid #2C3148;
          border-top: 2px solid #2C3148; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-prev-month {
        left: 2px; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
        right: 2px; }
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-next-month:before {
          -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-current-month {
        font-size: 14px;
        padding: 0; }
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-current-month select {
          background-color: #fff;
          font-size: 14px;
          box-shadow: none;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          display: inline-block;
          padding: 5px;
          width: auto;
          height: auto;
          border: 1px solid #E4E6EC;
          margin-right: 5px;
          border-radius: 3px; }
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-current-month .numInputWrapper {
          width: 8ch; }
          ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-current-month .numInputWrapper:hover {
            background-color: transparent; }
          ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-current-month .numInputWrapper span {
            position: absolute; }
          ins-filter .input-wrap .flatpickr-calendar .flatpickr-months .flatpickr-current-month .numInputWrapper input {
            background-color: #fff;
            font-size: 14px;
            padding: 4px 12px 4px 6px;
            box-shadow: none;
            border: 1px solid #E4E6EC;
            box-sizing: border-box;
            border-radius: 4px; }
    ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer {
      margin-left: -7px; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-weekdays,
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .dayContainer {
        padding: 0 7px;
        background-color: #fafbfc;
        height: auto; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-weekdaycontainer {
        padding: 10px 0;
        border-bottom: 1px solid #e4e6ec; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-weekday {
        font-size: 12px;
        font-weight: 400;
        color: #8c94a4; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-days {
        font-size: 12px; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-day {
        border-radius: 0;
        line-height: 30px;
        height: 32px;
        color: #2C3148; }
        ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-day.prevMonthDay, ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-day.nextMonthDay {
          color: #e4e6ec; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-day.today {
        border-color: transparent; }
      ins-filter .input-wrap .flatpickr-calendar .flatpickr-rContainer .flatpickr-day.selected {
        border: 1px solid #1f86e3;
        background: #1f86e3;
        color: #fff; }
  ins-filter .input-wrap .flatpickr-calendar.arrowTop:before,
  ins-filter .input-wrap .flatpickr-calendar.arrowTop:after {
    display: none; }
  ins-filter .input-wrap .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
    height: auto;
    border-top: 1px solid #e4e6ec;
    display: block;
    padding-top: 5px; }
    ins-filter .input-wrap .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time .numInputWrapper {
      float: none;
      width: auto;
      height: auto;
      display: inline-block;
      margin: 0 5px; }
      ins-filter .input-wrap .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time .numInputWrapper input {
        padding: 0 17px 0 5px;
        box-sizing: border-box;
        display: block;
        text-align: left;
        border: 1px solid #E4E6EC;
        border-radius: 4px;
        height: 26px;
        font-weight: 400;
        font-size: 14px;
        color: #2C3148;
        background-color: #fff;
        box-shadow: none;
        box-sizing: border-box; }
    ins-filter .input-wrap .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time .flatpickr-time-separator,
    ins-filter .input-wrap .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time .flatpickr-am-pm {
      float: none;
      width: auto;
      height: auto;
      display: inline-block;
      color: #2C3148; }
    ins-filter .input-wrap .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time .flatpickr-am-pm {
      font-size: 14px; }
      ins-filter .input-wrap .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time .flatpickr-am-pm:hover {
        background-color: transparent; }

ins-filter-item {
  display: inline-block;
  margin-right: 15px; }
  ins-filter-item .filter-item {
    cursor: pointer;
    position: relative; }
    ins-filter-item .filter-item__button {
      overflow: hidden;
      position: relative;
      border-radius: 4px;
      background-color: #e4e6ec;
      padding: 7px 7px;
      color: #2c3148;
      cursor: default; }
      ins-filter-item .filter-item__button--text {
        font-weight: 600; }
      ins-filter-item .filter-item__button--option {
        font-weight: normal; }
        ins-filter-item .filter-item__button--option .fas {
          margin-left: 8px;
          color: #8c94a4;
          font-size: 12px; }
    ins-filter-item .filter-item__options {
      font-size: 14px;
      box-shadow: 0 2px 4px 0 rgba(15, 21, 38, 0.14), 1px 1px 3px 0 rgba(140, 148, 164, 0.2);
      border-radius: 4px;
      padding: 7px 0;
      display: none;
      position: absolute;
      min-width: 240px;
      cursor: default;
      z-index: 2;
      background-color: #fff; }
      ins-filter-item .filter-item__options.active {
        display: block;
        top: 37px; }
      ins-filter-item .filter-item__options > div {
        color: #8c94a4;
        padding: 7px 15px;
        margin: 5px 0;
        cursor: pointer; }
        ins-filter-item .filter-item__options > div:hover {
          background-color: #e4e6ec;
          color: #1a1d2c; }
        ins-filter-item .filter-item__options > div.selected {
          color: #2c3148;
          background-color: #fafbfc; }

@media only screen and (max-width: 414px) {
  .ui-datepicker {
    width: auto !important; }
  ins-filter-item .filter-item {
    margin-top: 10px;
    width: auto; }
    ins-filter-item .filter-item .filter-item__button--option {
      margin-left: 5px; }
    ins-filter-item .filter-item .filter-item__button--option .fas {
      float: right;
      margin-top: 5px; }
    ins-filter-item .filter-item .filter-item__options {
      min-width: 229px; }
  .date-filter__option {
    margin-left: 5px; } }

@media only screen and (max-width: 320px) {
  ins-filter-item .filter-item {
    width: 232px; }
    ins-filter-item .filter-item .filter-item__button--option {
      margin-left: 5px; }
    ins-filter-item .filter-item .filter-item__button--option .fas {
      float: right;
      margin-top: 5px; }
    ins-filter-item .filter-item .filter-item__button {
      margin: 5px 0 15px;
      font-size: 10px; }
    ins-filter-item .filter-item .filter-item__options {
      min-width: 232px; }
    ins-filter-item .filter-item .filter-item__options > div {
      font-size: 10px; } }

.ins-progress-bar {
  width: 100%;
  background: transparent;
  text-align: center;
  padding: 4px 15px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  border-bottom: solid 1px #E4E6EC;
  color: #2c3148;
  transition: width 0.75s;
  position: relative; }
  .ins-progress-bar.hidden {
    display: none; }
  .ins-progress-bar .progress {
    margin: 0;
    background-color: #1e86e3;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    transition: width 0.35s; }

.ins-thumbnail {
  width: 100%; }
  .ins-thumbnail .preview-left-btn {
    float: left; }
  .ins-thumbnail .download-right-btn.has-preview {
    float: right; }
  .ins-thumbnail .img-thumbnail-box {
    text-align: center;
    box-sizing: border-box;
    background: #f2f4f8; }
    .ins-thumbnail .img-thumbnail-box img {
      max-width: 120px;
      display: block;
      margin: 0 auto; }
    .ins-thumbnail .img-thumbnail-box svg {
      margin: 30px 0 20px; }
  .ins-thumbnail-btn {
    border-top: solid 1px #e4e6ec;
    padding: 16px;
    text-align: center; }
    .ins-thumbnail-btn:after {
      clear: both;
      display: block;
      content: ""; }

.ins-thumbnail-img:hover a,
.ins-thumbnail-img.hover a {
  transition: all 0.35s ease;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }

.ins-thumbnail-img:hover a:nth-child(2),
.ins-thumbnail-img.hover a:nth-child(2) {
  transition-delay: 0.1s; }

.ins-thumbnail-img:hover a:nth-child(3),
.ins-thumbnail-img.hover a:nth-child(3) {
  transition-delay: 0.2s; }

.ins-thumbnail-img {
  position: relative;
  transition: all 0.35s ease;
  width: 100%;
  background: white !important;
  border: 0.5px solid #d8d8d8 !important;
  box-shadow: 1px 1px 3px 0px rgba(140, 148, 164, 0.2) !important;
  border-radius: 4px 4px 4px 4px !important;
  margin-bottom: 15px; }

.ins-thumbnail-btn > :last-child {
  margin-bottom: 0; }

.icon-small {
  width: 100%; }

.ins-thumbnail-img .ins-thumbnail-btn button.ins-button {
  padding-left: 8px !important;
  padding-right: 8px !important; }

.ins-thumbnail-description {
  width: 100%;
  color: #2c3148;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  letter-spacing: 0px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box; }

.download-right-btn {
  padding-left: 0px !important;
  padding-right: 0px !important; }

.ins-thumbnail-description.blue {
  color: #1E86E3; }

.no-source {
  text-align: center;
  padding: 20px 16px;
  font-size: 14px;
  color: #F27474; }

ins-tab {
  font-family: "Open Sans", sans-serif; }
  ins-tab .ins-tab {
    border-radius: 4px;
    margin-top: 0;
    box-shadow: 1px 1px 3px #E4E6EC;
    background: #fff;
    transition: all 0.15s; }
    ins-tab .ins-tab .ins-tab-headers {
      padding: 0;
      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      position: relative;
      list-style-type: none;
      margin: 0; }
      ins-tab .ins-tab .ins-tab-headers::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: " ";
        height: 1px;
        width: 100%;
        background: #E4E6EC; }
      ins-tab .ins-tab .ins-tab-headers.scrollable {
        border-bottom: none; }
        ins-tab .ins-tab .ins-tab-headers.scrollable::-webkit-scrollbar {
          width: 7px;
          height: 7px; }
        ins-tab .ins-tab .ins-tab-headers.scrollable::-webkit-scrollbar-track {
          box-shadow: none;
          -webkit-box-shadow: none; }
        ins-tab .ins-tab .ins-tab-headers.scrollable::-webkit-scrollbar-thumb {
          background-color: #E4E6EC;
          border-radius: 16px;
          outline: none; }
        ins-tab .ins-tab .ins-tab-headers.scrollable:hover {
          overflow-x: auto; }
          ins-tab .ins-tab .ins-tab-headers.scrollable:hover + ins-tab-item {
            display: block;
            margin-top: -5px; }
        ins-tab .ins-tab .ins-tab-headers.scrollable .ins-tab-header {
          border-bottom: solid 1px #E4E6EC; }
      @media screen and (max-width: 639px) {
        ins-tab .ins-tab .ins-tab-headers.scrollable {
          overflow-x: auto; }
          ins-tab .ins-tab .ins-tab-headers.scrollable:hover {
            overflow-x: auto; }
            ins-tab .ins-tab .ins-tab-headers.scrollable:hover + ins-tab-item {
              display: block;
              margin-top: 0; } }
      ins-tab .ins-tab .ins-tab-headers .ins-tab-header {
        cursor: pointer;
        display: inline-block;
        padding: 15px 25px;
        color: #8c94a4;
        font-size: 14px;
        line-height: 14px;
        position: relative; }
        ins-tab .ins-tab .ins-tab-headers .ins-tab-header span:nth-child(2) {
          padding-left: 5px; }
        @media screen and (max-width: 639px) {
          ins-tab .ins-tab .ins-tab-headers .ins-tab-header {
            padding: 13px 20px; } }
        ins-tab .ins-tab .ins-tab-headers .ins-tab-header::before {
          position: absolute;
          bottom: -1px;
          left: 0;
          height: 2px;
          width: 100%;
          content: " ";
          background: #E4E6EC; }
        ins-tab .ins-tab .ins-tab-headers .ins-tab-header.disabled {
          cursor: not-allowed;
          opacity: 0.4; }
        ins-tab .ins-tab .ins-tab-headers .ins-tab-header.active, ins-tab .ins-tab .ins-tab-headers .ins-tab-header:hover, ins-tab .ins-tab .ins-tab-headers .ins-tab-header:focus {
          color: #2c3148;
          position: relative; }
          ins-tab .ins-tab .ins-tab-headers .ins-tab-header.active::before, ins-tab .ins-tab .ins-tab-headers .ins-tab-header:hover::before, ins-tab .ins-tab .ins-tab-headers .ins-tab-header:focus::before {
            content: " ";
            background: #1e86e3;
            z-index: 1;
            bottom: 0; }
        ins-tab .ins-tab .ins-tab-headers .ins-tab-header.has-error::before {
          content: " ";
          background: #f27474;
          z-index: 1;
          bottom: 0; }

ins-tab-item > div {
  display: none;
  padding: 40px 20px; }
  ins-tab-item > div.no-padding {
    padding: 40px 0px; }
  ins-tab-item > div.active {
    display: block; }
  @media screen and (max-width: 639px) {
    ins-tab-item > div {
      padding: 20px 10px; } }

ins-tag span.tagged, ins-tag span.ins-tag {
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  background-color: #8c94a4;
  padding: 6px 10px;
  min-width: 70px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  display: inline-block; }
  ins-tag span.tagged.font-inherit, ins-tag span.ins-tag.font-inherit {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }
  ins-tag span.tagged span, ins-tag span.ins-tag span {
    margin-right: 3px; }
  ins-tag span.tagged.blue, ins-tag span.ins-tag.blue {
    background-color: #1e86e3; }
  ins-tag span.tagged.new, ins-tag span.tagged.orange, ins-tag span.ins-tag.new, ins-tag span.ins-tag.orange {
    background-color: #ffa639; }
  ins-tag span.tagged.closed, ins-tag span.tagged.grey, ins-tag span.ins-tag.closed, ins-tag span.ins-tag.grey {
    background-color: #8c94a4; }
  ins-tag span.tagged.pending ins-tag span.tagged.yellow, ins-tag span.ins-tag.pending ins-tag span.tagged.yellow, ins-tag span.tagged.pending ins-tag span.ins-tag.yellow, ins-tag span.ins-tag.pending ins-tag span.ins-tag.yellow {
    background-color: #fdd835; }
  ins-tag span.tagged.flagged, ins-tag span.tagged.negative, ins-tag span.tagged.error, ins-tag span.tagged.invalid, ins-tag span.tagged.archived, ins-tag span.tagged.disabled, ins-tag span.tagged.red, ins-tag span.ins-tag.flagged, ins-tag span.ins-tag.negative, ins-tag span.ins-tag.error, ins-tag span.ins-tag.invalid, ins-tag span.ins-tag.archived, ins-tag span.ins-tag.disabled, ins-tag span.ins-tag.red {
    background-color: #f27474; }
  ins-tag span.tagged.open, ins-tag span.tagged.positive, ins-tag span.tagged.published, ins-tag span.tagged.active, ins-tag span.tagged.valid, ins-tag span.tagged.enabled, ins-tag span.tagged.green, ins-tag span.ins-tag.open, ins-tag span.ins-tag.positive, ins-tag span.ins-tag.published, ins-tag span.ins-tag.active, ins-tag span.ins-tag.valid, ins-tag span.ins-tag.enabled, ins-tag span.ins-tag.green {
    background-color: #24be8d; }
  ins-tag span.tagged.light, ins-tag span.ins-tag.light {
    background-color: #E4E6EC;
    color: #2c3148; }
    ins-tag span.tagged.light.blue, ins-tag span.ins-tag.light.blue {
      background-color: rgba(30, 134, 227, 0.1);
      color: #1e86e3; }
    ins-tag span.tagged.light.new, ins-tag span.tagged.light.orange, ins-tag span.ins-tag.light.new, ins-tag span.ins-tag.light.orange {
      background-color: rgba(255, 166, 57, 0.1);
      color: #ffa639; }
    ins-tag span.tagged.light.closed, ins-tag span.tagged.light.grey, ins-tag span.ins-tag.light.closed, ins-tag span.ins-tag.light.grey {
      background-color: #8c94a4; }
    ins-tag span.tagged.light.pending, ins-tag span.tagged.light.yellow, ins-tag span.ins-tag.light.pending, ins-tag span.ins-tag.light.yellow {
      background-color: rgba(230, 189, 5, 0.1);
      color: #fdd835; }
    ins-tag span.tagged.light.flagged, ins-tag span.tagged.light.negative, ins-tag span.tagged.light.error, ins-tag span.tagged.light.invalid, ins-tag span.tagged.light.archived, ins-tag span.tagged.light.disabled, ins-tag span.tagged.light.red, ins-tag span.ins-tag.light.flagged, ins-tag span.ins-tag.light.negative, ins-tag span.ins-tag.light.error, ins-tag span.ins-tag.light.invalid, ins-tag span.ins-tag.light.archived, ins-tag span.ins-tag.light.disabled, ins-tag span.ins-tag.light.red {
      background-color: #f8edee;
      color: #de797b; }
    ins-tag span.tagged.light.open, ins-tag span.tagged.light.positive, ins-tag span.tagged.light.published, ins-tag span.tagged.light.active, ins-tag span.tagged.light.valid, ins-tag span.tagged.light.enabled, ins-tag span.tagged.light.green, ins-tag span.ins-tag.light.open, ins-tag span.ins-tag.light.positive, ins-tag span.ins-tag.light.published, ins-tag span.ins-tag.light.active, ins-tag span.ins-tag.light.valid, ins-tag span.ins-tag.light.enabled, ins-tag span.ins-tag.light.green {
      background-color: rgba(36, 190, 141, 0.1);
      color: #20aa7e; }

.ins-timeline-wrap {
  background-color: #ffffff; }
  .ins-timeline-wrap .ins-timeline-body {
    word-break: break-word; }
  .ins-timeline-wrap .ins-timeline-header {
    padding: 20px;
    border-bottom: solid 1px #E4E6EC; }
    .ins-timeline-wrap .ins-timeline-header h3 {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      margin-bottom: 0;
      color: #2c3148; }
  .ins-timeline-wrap .ins-timeline-list {
    position: relative;
    margin: 0;
    overflow: auto;
    display: block; }
    .ins-timeline-wrap .ins-timeline-list:first-child {
      padding-top: 10px; }
    .ins-timeline-wrap .ins-timeline-list.loading {
      display: none; }
    .ins-timeline-wrap .ins-timeline-list:before {
      content: "";
      display: block;
      width: 1px;
      height: calc(100% + 0px);
      background: #E4E6EC;
      position: absolute;
      left: 36px;
      top: 0; }

.ins-timeline-item-wrap {
  padding: 10px 20px;
  position: relative;
  color: #2c3148; }
  .ins-timeline-item-wrap .ins-icon-wrap {
    width: 31px;
    height: 31px;
    border: solid 1px #2c3148;
    border-radius: 50%;
    text-align: center;
    padding-top: 6px;
    position: absolute;
    left: 20px;
    top: calc(50% - 16px);
    background-color: #ffffff;
    font-size: 13px;
    box-sizing: border-box; }
    .ins-timeline-item-wrap .ins-icon-wrap.solid {
      background-color: #2c3148;
      color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.no-icon {
      width: 11px;
      height: 11px;
      left: 31px;
      top: calc(50% - 6px);
      padding: 0; }
    .ins-timeline-item-wrap .ins-icon-wrap.grey {
      border-color: #8c94a4;
      color: #8c94a4; }
      .ins-timeline-item-wrap .ins-icon-wrap.grey.solid {
        background-color: #8c94a4;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.pink {
      border-color: #ff3366;
      color: #ff3366; }
      .ins-timeline-item-wrap .ins-icon-wrap.pink.solid {
        background-color: #ff3366;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.red {
      border-color: #f27474;
      color: #f27474; }
      .ins-timeline-item-wrap .ins-icon-wrap.red.solid {
        background-color: #f27474;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.blue {
      border-color: #1e86e3;
      color: #1e86e3; }
      .ins-timeline-item-wrap .ins-icon-wrap.blue.solid {
        background-color: #1e86e3;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.green {
      border-color: #24be8d;
      color: #24be8d; }
      .ins-timeline-item-wrap .ins-icon-wrap.green.solid {
        background-color: #24be8d;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.turquoise {
      border-color: #2bbad9;
      color: #2bbad9; }
      .ins-timeline-item-wrap .ins-icon-wrap.turquoise.solid {
        background-color: #2bbad9;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.purple {
      border-color: #694FCD;
      color: #694FCD; }
      .ins-timeline-item-wrap .ins-icon-wrap.purple.solid {
        background-color: #694FCD;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.fushcia {
      border-color: #C65BBB;
      color: #C65BBB; }
      .ins-timeline-item-wrap .ins-icon-wrap.fushcia.solid {
        background-color: #C65BBB;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.yellow {
      border-color: #fdd835;
      color: #fdd835; }
      .ins-timeline-item-wrap .ins-icon-wrap.yellow.solid {
        background-color: #fdd835;
        color: #ffffff; }
    .ins-timeline-item-wrap .ins-icon-wrap.orange {
      border-color: #ffa639;
      color: #ffa639; }
      .ins-timeline-item-wrap .ins-icon-wrap.orange.solid {
        background-color: #ffa639;
        color: #ffffff; }
  .ins-timeline-item-wrap .ins-timeline-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    width: calc(100% - 50px);
    margin-left: 50px;
    box-sizing: border-box;
    padding: 15px;
    background: #fafbfc;
    border-radius: 4px;
    position: relative;
    white-space: no-wrap;
    display: table; }
    .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-heading {
      margin-bottom: 15px; }
      .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-heading h6 {
        font-size: 18px;
        line-height: 24px; }
    .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-datetime {
      margin-top: 15px; }
      .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-datetime p {
        font-size: 10px;
        line-height: 15px;
        margin-bottom: 0;
        color: #8c94a4; }
    .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-content {
      box-sizing: border-box; }
      .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-content.inline-content {
        display: table-cell;
        width: 100%;
        max-width: 85%; }
    .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-actions {
      box-sizing: border-box;
      text-align: right;
      margin-top: 10px; }
      .ins-timeline-item-wrap .ins-timeline-body .ins-timeline-actions.inline-content {
        display: table-cell;
        padding-left: 20px;
        margin-top: 0px;
        width: 100%;
        max-width: 200px;
        vertical-align: middle; }

ins-tooltip .ins-tooltip-wrap {
  display: inline-block;
  position: relative; }
  ins-tooltip .ins-tooltip-wrap .tooltip-label {
    transition: all .1s ease;
    vertical-align: middle;
    font-size: 9px;
    font-family: 'Open Sans',sans-serif;
    background-color: #e4e6ec;
    font-weight: 600;
    padding: 2.5px 6px;
    color: #8c94a4;
    cursor: help; }
    ins-tooltip .ins-tooltip-wrap .tooltip-label i {
      font-style: normal; }
    ins-tooltip .ins-tooltip-wrap .tooltip-label:hover {
      background-color: #1e86e3;
      color: #fff; }
    ins-tooltip .ins-tooltip-wrap .tooltip-label.circle {
      border-radius: 50%; }
    ins-tooltip .ins-tooltip-wrap .tooltip-label.rectangle {
      padding: 3px 6px; }
    ins-tooltip .ins-tooltip-wrap .tooltip-label.no-background {
      background: none; }
      ins-tooltip .ins-tooltip-wrap .tooltip-label.no-background:hover {
        color: #1e86e3; }

ins-tooltip .popper, ins-tooltip .tooltip {
  position: absolute;
  background-color: #ffffff;
  color: #2C3148;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(15, 21, 38, 0.14), 1px 1px 3px 0 rgba(140, 148, 164, 0.2);
  padding: 16px;
  font-size: 14px;
  max-width: initial; }
  @media screen and (max-width: 1280px) {
    ins-tooltip .popper, ins-tooltip .tooltip {
      max-width: 60vw; } }
  @media screen and (max-width: 568px) {
    ins-tooltip .popper, ins-tooltip .tooltip {
      max-width: 50vw; } }
  ins-tooltip .popper[x-out-of-boundaries], ins-tooltip .tooltip[x-out-of-boundaries] {
    display: none;
    visibility: hidden; }

ins-tooltip .popper .popper__arrow,
ins-tooltip .tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 12px; }

ins-tooltip .tooltip .tooltip-arrow,
ins-tooltip .popper .popper__arrow {
  border: 0.5px solid #ffffff; }

ins-tooltip .popper[x-placement^="top"],
ins-tooltip .tooltip[x-placement^="top"] {
  margin-bottom: 5px; }

ins-tooltip .popper[x-placement^="top"] .popper__arrow,
ins-tooltip .tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0; }

ins-tooltip .popper[x-placement^="bottom"],
ins-tooltip .tooltip[x-placement^="bottom"] {
  margin-top: 12px; }

ins-tooltip .tooltip[x-placement^="bottom"] .tooltip-arrow,
ins-tooltip .popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0; }

ins-tooltip .tooltip[x-placement^="right"],
ins-tooltip .popper[x-placement^="right"] {
  margin-left: 6px; }

ins-tooltip .popper[x-placement^="right"] .popper__arrow,
ins-tooltip .tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0; }

ins-tooltip .popper[x-placement^="left"],
ins-tooltip .tooltip[x-placement^="left"] {
  margin-right: 6px; }

ins-tooltip .popper[x-placement^="left"] .popper__arrow,
ins-tooltip .tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0; }

ins-bar-chart .ins-bar-chart {
  background-color: #ffffff;
  position: relative;
  min-height: 60px; }

ins-bar-chart h2 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

@media only screen and (max-width: 736px) {
  ins-line-chart h2 {
    position: relative; } }

@media only screen and (max-width: 320px) {
  ins-line-chart h2 {
    position: relative; } }

ins-line-chart .ins-line-chart {
  background-color: #ffffff;
  position: relative;
  min-height: 60px; }

ins-line-chart h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif; }

ins-line-chart svg.highcharts-root {
  font-family: "Open Sans", sans-serif; }

@media only screen and (max-width: 736px) {
  ins-line-chart h2 {
    position: relative; } }

@media only screen and (max-width: 320px) {
  ins-line-chart h2 {
    position: relative; } }

ins-sparkline {
  color: #2C3148; }
  ins-sparkline .sparkline {
    background-color: #ffffff; }
  ins-sparkline i {
    color: #1E86E3;
    padding-right: 12px; }
  ins-sparkline h3 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
    display: inline-block; }
  ins-sparkline span.value {
    font-size: 55px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.8px;
    line-height: 98px;
    display: block; }
  ins-sparkline .chart-container {
    width: 100%;
    height: auto; }
  ins-sparkline .description {
    color: #8C94A4;
    font-size: 12px;
    letter-spacing: 0.13px;
    line-height: 17px;
    position: relative; }
    ins-sparkline .description span.arrow {
      position: absolute;
      left: 5px;
      top: 3px;
      background: #222;
      display: inline-block;
      height: 9px;
      width: 2px; }
    ins-sparkline .description span.arrow:before {
      position: absolute;
      content: '';
      height: 7px;
      width: 2px;
      top: -2px;
      left: -2px;
      background: #222;
      transform: rotate(51deg); }
    ins-sparkline .description span.arrow:after {
      position: absolute;
      content: '';
      height: 7px;
      width: 2px;
      top: -2px;
      left: 2px;
      background: #222;
      transform: rotate(-51deg); }
    ins-sparkline .description.increase, ins-sparkline .description.decrease {
      padding-left: 18px; }
    ins-sparkline .description.increase span {
      color: #3EB98C; }
    ins-sparkline .description.increase span.arrow,
    ins-sparkline .description.increase span.arrow:before,
    ins-sparkline .description.increase span.arrow:after {
      background-color: #3EB98C; }
    ins-sparkline .description.decrease span {
      color: #F27474; }
    ins-sparkline .description.decrease span.arrow {
      transform: rotate(180deg); }
    ins-sparkline .description.decrease span.arrow,
    ins-sparkline .description.decrease span.arrow:before,
    ins-sparkline .description.decrease span.arrow:after {
      background-color: #F27474; }
