:root{--ins-color-ink: #2c3148;--ins-color-ink40: #8c94a4;--ins-color-ink10: #E4E6EC;--ins-color-ink5: #f2f4f8;--ins-color-ink1: #ffffff;--ins-color-white: #fff;--ins-color-blue: #1e86e3;--ins-color-blue2: #1A78CB;--ins-color-blue-20p: #CEE2F6;--ins-color-blue-10p: #e8f3fc;--ins-color-green: #24be8d;--ins-color-green2: #20AA7E;--ins-color-green-10p: #E9F8F4;--ins-color-orange: #ffa639;--ins-color-orange2: #ff9b20;--ins-color-orange-10p: #FFF6EB;--ins-color-red: #f27474;--ins-color-red2: #f05d5d;--ins-color-red-10p: #F8EDEE;--ins-color-pink: #ff3366;--ins-color-pink2: #ff1a53;--ins-color-pink-10p: #FEEBF0;--ins-color-yellow: #fdd835;--ins-color-yellow2: #fdd31c;--ins-color-yellow-10p: #FFFBEB;--ins-color-turquoise: #2bbad9;--ins-color-turquoise2: #24aac7;--ins-color-turquoise-10p: #EAF8FB;--ins-color-purple: #694FCD;--ins-color-fushcia: #C65BBB;--ins-color-grey: #e4e6ec;--ins-color-grey2: #d5d8e1;--ins-color-grey-10p: #edeef2;--ins-color-primary: #1e86e3;--ins-color-success: #24be8d;--ins-color-warning: #ffa639;--ins-color-negative: #f27474;--ins-color-information1: #ff3366;--ins-color-information2: #fdd835;--ins-color-table-odd: #FFF;--ins-color-table-even: #FAFBFC;--ins-color-disabled_readonly_bg: #FAFBFC;--ins-bg-color: #ffffff;--ins-bg-color2: #E4E6EC;--ins-bg-color3: #8c94a4;--ins-bg-color4: #f2f4f8;--ins-bg-color5: #FAFBFC;--ins-border-radius: 4px;--ins-border-thickness: 1px;--ins-border-style: solid;--ins-border-color: #E4E6EC;--ins-shadow-x: 1px;--ins-shadow-y: 1px;--ins-shadow-blur: 3px;--ins-shadow-color: #E4E6EC;--ins-font-family: 'Open Sans', sans-serif;}

.ins-input-select {
    .ins-select-search {
        display: none;
        position: relative;
        .ins-select-search-input {
            border: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color);
            padding: 10px 12px;
            margin: 8px;
            width: calc(100% - 16px);
            padding: 11px 10px;
            box-shadow: none;
            box-sizing: border-box;
            border-radius: var(--ins-border-radius);
            font-size: .875rem;
            background: var(--ins-bg-color);
            color: var(--ins-color-ink);
            outline: none;
        }

        .icon-search {
            position: absolute;
            right: 24px;
            top: calc(50% - 8px);
            color: var(--ins-color-ink40);
        }
    }

    &.ins-select-wrap {
        .ins-select-value-wrap {
            i.icon-caret-down {
                top: 12px;
            }

            .ins-select-value-input {
                display: block;
                cursor: pointer;
            }
        }

        .multiple-item {
            padding: 2px 4px;
        }

        &.activated {
            .ins-select-value-input {
                display: none;
                &.has-value {
                    display: block;
                }
            }
            .ins-select-value-wrap {
                &.multiple {
                    .ins-select-value-input {
                        display: none;
                    }
                }
            }
            &.drop-up:not(.no-options),
            &.drop-up {
                .ins-select-options-wrap {
                    border-top: 1px solid var(--ins-color-blue);
                    bottom: calc(100% - 24px);
                    border-bottom: none;
                }
                .dynamic-option-wrap {
                    border-bottom: 1px solid #e4e6ec;
                }

                &.no-options {
                    .ins-select-options-wrap {
                        border-radius: 4px 4px 0px 0px;
                    }
                }

                &.is-invalid .ins-select-options-wrap {
                    border-top-color: var(--ins-color-negative);
                }
            }
        }

        .main-spinner-wrap {
            right: 28px;
            top: 21px;
        }

        .spinner-wrap {
            height: 38px;
        }

        &.initializing {
            .icon-caret-down {
                display: none;
            }
        }

        .ins-select-options-wrap {
            &.searching {
                .ins-select-slot-wrap {
                    display: none;
                }
            }
        }

        &.searchable {
            .ins-select-options-wrap {
                .done-wrap {
                    top: 56px;
                }
            }
            &.activated {
                .ins-select-value-wrap {
                    min-height: 40px;
                    // .icon-caret-down, .ins-select-value-input {
                    //     display: none;
                    // }
                }
                &.has-value {
                    .ins-select-value-wrap {
                        // .icon-caret-down, .ins-select-value-input {
                        //     display: block
                        // }
                    }
                }
            }
        }
    }

    .no-result {
        .ins-select-slot-wrap ins-input-select-group {
            display: none;
        }
    }


    &.activated {
        .ins-select-search {
            display: block;
        }
    }
}