ins-table-th {
  display: table-cell;
  padding: 11px 10px;
  border-bottom:
    var(--ins-border-style)
    var(--ins-border-thickness)
    var(--ins-border-color);
  color: var(--ins-color-ink);
  font-size: 14px;
  font-weight: 600;
}
