ins-table-row {
	display: table-row;
	height: 64px;
	width: 100%;

	&:nth-child(even) {
		background-color: var(--ins-color-table-event);
	}
	&:hover:nth-child(odd) {
		background-color: var(--ins-color-table-odd);
	}
}