.ins-accordion-link {
  background-color: var(--ins-bg-color);

  font-size: 14px;

    border:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);
  line-height: 14px;

  &_link {
    display: block;
    color: $ink;
    font-weight: 600;
    padding: 14px;
    cursor: pointer;
    text-decoration: none;

    &:visited {
      color: $ink;
    }

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &_icon {
    margin-right: 12px;
    width: 16px;
    display: inline-block;
  }

  &.before {
    border-bottom: 0;
  }

  &.after {
    border-top: 0;
  }

  &:hover {
    background-color: $ink5;
    color: $blue;
  }

  &.active > .ins-accordion-link_link {
    color: $blue;
    background-color: var(--ins-bg-color);
  }

  &.disabled {
    pointer-events: none;
    border-color: var(--ins-color-ink5);
    cursor: not-allowed;

    & > .ins-accordion-link_link {
      color: $ink10;
    }
  }
}

.ins-accordion-item_content {
  .ins-accordion-link {
    border: none;
    border-bottom: solid 1px $ink10;
  }

  .ins-accordion-link_link {
    padding: 14px;
  }

  ins-accordion-link:last-child .ins-accordion-link {
    border-bottom: none;
  }
}
