ins-accordion-item {
  width: 100%;
}
.ins-accordion-item {
  background-color: var(--ins-bg-color);

  &_header {
    padding-top: 14px;
    outline: none !important;

    & > .inner-head {
      background-color: var(--ins-bg-color);
      border:
        var(--ins-border-style)
        var(--ins-border-thickness)
        var(--ins-border-color);

      font-size: 14px;
      line-height: 14px;
      padding: 14px;
      box-sizing: border-box;
      border-radius: 2px;
      color: $ink;
      position: relative;
      font-weight: 600;
      cursor: pointer;

      a {
        text-decoration: none;
        color: $ink;
        padding: 0;

        &:hover {
          text-decoration: underline;
        }
      }

      &:hover {
        border-color: var(--ins-color-primary);
      }

    }

    &.disabled {
      pointer-events: none;
      cursor: not-allowed;


      & > .inner-head {
        border-color: var(--ins-color-ink5);
        color: var(--ins-color-ink10);
      }
    }

    .icon {
      margin-right: 12px;
    }

    &_caret-wrap {
      position: absolute;
      top: calc(50% - 13px);
      right: 12px;
    }

    .open-icon, .close-icon {
      display: none;
      padding: 4px;
      cursor: pointer;
      font-size: 18px;
    }

  }

  &_content {

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s;

    .inner-content {
      padding: 14px;
      font-size: 14px;
      border:
        var(--ins-border-style)
        var(--ins-border-thickness)
        var(--ins-border-color);

      .inner-head {
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }

  &.closed {

    & > .ins-accordion-item_header > .inner-head > .ins-accordion-item_header_caret-wrap > .open-icon {
      display: block;
    }
  }

  &.open {

    & > .ins-accordion-item_header > .inner-head > .ins-accordion-item_header_caret-wrap > .close-icon {
      display: block;
    }

    & > .ins-accordion-item_header > .inner-head {
      border-color: var(--ins-color-primary);
      background-color: var(--ins-color-primary);
      color: var(--ins-color-white);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      a {
        color: var(--ins-color-white);
      }
    }
  }

  &.arrow-activated {
    .inner-head {
      cursor: initial;

      .icon-angle-down,
      .icon-angle-up {
        cursor: pointer;
      }
    }
  }
}
