.ins-heading-wrap {
  position: relative;
  margin-bottom: 20px;

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--ins-bg-color2);
    top: calc(50% - 1px);
    left: 0;
    z-index: 0;
  }

  &.without-line:before {
    content: none;
  }

  .label-wrap {
    position: relative;
    color: var(--ins-color-ink);
    z-index: 1;
    display: inline-block;
    padding: 10px 0;
    padding-right: 15px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--ins-font-family);
      font-weight: 300;
      margin-bottom: 0;
      display: inline-block;
    }

    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 3.5rem;
    }
    h3 {
      font-size: 3rem;
    }
    h4 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1.5rem;
    }
    h6 {
      font-size: 1.125rem;
    }

    .icon-edit {
      margin-left: 15px;
      font-size: 14px;
      color: var(--ins-color-ink10);
      cursor: pointer;
      border: none;
      box-shadow: none;
      outline: none;
      background-color: transparent;
    }
    &:hover {
      .icon-edit {
        color: var(--ins-color-primary);
      }
    }
  }

  .input-wrap {
    display: none;

    .ins-input-wrap {
      width: calc(100% - 162px);
      margin: 0;
      margin-right: 10px;
      display: inline-block;
    }

    input {
      margin-bottom: 0;
    }

    &-buttons {
      display: inline-block;
    }
  }

  &.editing {
    &:before {
      content: none;
    }

    .label-wrap {
      display: none;
    }

    .input-wrap {
      display: block;
    }
  }
}
