.ins-accordion.menu {
  ins-accordion-item:first-of-type {
    .ins-accordion-item_header {
      border-top: solid 1px #E4E6EC;
    }
  }

  .ins-accordion-item {

    .ins-accordion-item_header {
      padding-top: 0;
    }

    .inner-head {
      border-radius: 0;
      border-top: 0;

      &:hover {
        border-color: #E4E6EC;
        background-color: #f2f4f8;
      }
    }

    &.open > .ins-accordion-item_header > .inner-head:hover {
      border-color: #1e86e3;
      background-color: #1e86e3;
    }

    &.arrow-activated {
      .inner-head:hover {
        background-color: #fff;
      }
    }
  }

  .ins-accordion-item_content .inner-content {
    padding: 0;
  }
}
