.ins-select-wrap {
  font-family: var(--ins-font-family);
  color: var(--ins-color-ink);
  position: relative;
  margin-bottom: 20px;

  .main-spinner-wrap {
    display: none;
    position: absolute;
    right: 21px;
    top: 27px;
  }

  &.initializing {
    .main-spinner-wrap {
      display: block;
    }
  }

  .spinner-wrap {
    height: 32px;
    position: relative;
    display: none;
  }

  .spinner {
    border-width: 2px;
    position: absolute;
    border: 3px solid var(--ins-color-ink40);
    border-left: 3px solid var(--ins-bg-color);

    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    left: calc(50% - 4px);
    top: 8px;

    &, &:after {
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .ins-select-label-wrap {
    font-size: .75rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: var(--ins-color-ink);
    display: block;

    i.icon-caret-down {
      display: none;
    }
  }

  .ins-select-value-wrap {
    background: var(--ins-bg-color);
    border-radius: var(--ins-border-radius);
    border:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    font-size: .875rem;
    position: relative;
    color: var(--ins-color-ink40);
    cursor: pointer;
    transition: border-color 0.15s ease-in, border-radius 0.15s ease-in;

    &:hover {
      border-color: var(--ins-color-ink40);
    }

    &:focus {
      outline: none;
      border-color: var(--ins-color-blue);
    }

    &.multiple {

      .multiple-item-wrap {
        display: inline-block;
        background-color: var(--ins-bg-color2);
        border-radius: var(--ins-border-radius);
        margin: 6px 4px;
        font-size: 14px;
        padding: 2px 8px;
        position: relative;
        padding-right: 28px;
        color: var(--ins-color-ink);

        .icon-close {
          font-size: 7px;
          margin-left: 10px;
          position: absolute;
          right: 8px;
          top: calc(50% - 4px);
          color: var(--ins-color-ink40);
        }
      }

      .multiple-placeholder {
        padding: 10px;
      }
    }
    i.icon-caret-down {
      font-size: 16px;
      position: absolute;
      right: 11px;
      top: calc(50% - 8px);
      color: var(--ins-color-ink40);
    }
  }

  .ins-select-value-input {
    display: block;
    width: 100%;
    padding: 11px 10px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: var(--ins-border-radius);
    font-size: .875rem;
    background: var(--ins-bg-color);
    color: var(--ins-color-ink);

    &::-webkit-input-placeholder {
      color: var(--ins-color-ink40);
    }
    &::-moz-placeholder {
      color: var(--ins-color-ink40);
    }
    &:-ms-input-placeholder {
      color: var(--ins-color-ink40);
    }
    &:-moz-placeholder {
      color: var(--ins-color-ink40);
    }

    &:focus,
    &:hover,
    &.active {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &[readonly] {
      background-color: var(--ins-bg-color);
      cursor: text;
    }

    &[disabled] {
      background-color: var(--ins-bg-color5);
      color: var(--ins-color-ink40);
      cursor: not-allowed;
    }
  }
  &.is-invalid .done-wrap {
    border-color: var(--ins-color-negative);
    top: 38px;
  }
  &.is-invalid label~.done-wrap {
    border-color: var(--ins-color-negative);
    top: 63px;
  }
  &.is-invalid.no-options .done-wrap {
    top: 60px;
  }

  .done-wrap {
    position: absolute;
    z-index: 1000;
    background-color: var(--ins-bg-color5);
    font-family: var(--ins-font-family);
    font-size: .875rem;
    padding: 12px 10px;
    color: var(--ins-color-ink40);
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-top: -2px;

    border-left: var(--ins-border-style) var(--ins-border-thickness) var(--ins-color-blue);
    border-right: var(--ins-border-style) var(--ins-border-thickness) var(--ins-color-blue);
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      color: var(--ins-color-ink);
      background-color: var(--ins-bg-color2);
    }
  }

  .ins-select-options-wrap {
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    border-top: none;
    overflow: hidden;
    height: 0;
    transition: height 0.15s ease-out, border-color 0.15s ease-out;
    position: absolute;
    width: 100%;

    &.with-dynamic-option {
      .scroll-wrap {
        max-height: 225px;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 7px;
          height: 7px;
        }

        &::-webkit-scrollbar-track {
          box-shadow: none;
          -webkit-box-shadow: none;
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--ins-bg-color2);
          border-radius: 16px;
          outline: none;
        }
      }

      .dynamic-option-wrap {
        display: block;
      }
    }

    &.searching {
      .ins-select-option-wrap {
        display: none;
      }

      .dynamic-option-wrap {
        display: none;
      }

      .spinner-wrap {
        display: block;
      }
    }

    &.loading {
      .spinner-wrap {
        display: block;
      }
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--ins-bg-color2);
      border-radius: 16px;
      outline: none;
    }

    .no-result-text,
    .no-more-options {
      font-size: 0.875rem;
      padding: 10px;
      margin-bottom: 0;
      display: none;
    }

    .no-more-options {
      display: block;
    }

    &.no-result {
      .no-result-text {
        display: block;
      }

      .no-more-options {
        display: none;
      }
    }

    &.drop-up {
      top: inherit;
      bottom: calc(100% + 8px);
    }
  }

  .dynamic-option-wrap {
    padding: 16px;
    border-top:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    display: none;

    .ins-input-wrap {
      display: inline-block;
      width: calc(100% - 80px);
      margin-right: 15px;

      input {
        margin-bottom: 0;
        padding: 10px 12px;
        box-shadow: none;
        box-sizing: border-box;
        font-size: .875rem;
        color: var(--ins-color-ink);
      }
      .ins-form-error {
        display: none;
      }
    }
  }

  &.readonly {
    .ins-select-value-wrap {
      background-color: var(--ins-bg-color5);
      cursor: not-allowed;

      &:hover {
        border-color: var(--ins-color-ink10) !important;
      }
    }

    .ins-select-value-input[readonly] {
      border-color: var(--ins-color-ink10) !important;
      background-color: var(--ins-bg-color5);
      color: var(--ins-color-ink40);
    }
  }
  &.disabled {
    color: var(--ins-color-ink40);

    .ins-select-label-wrap {
      color: var(--ins-color-ink40);
    }

    .ins-select-value-wrap {
      background-color: var(--ins-bg-color5);
      color: var(--ins-color-ink40);
      cursor: not-allowed;

      &:hover {
        border:
          var(--ins-border-style)
          var(--ins-border-thickness)
          var(--ins-border-color);
      }

      &:focus {
        outline: none;
        border-color: #e4e6ec;
      }
    }
  }

  &.activated {

    label {
      color: var(--ins-color-primary);
    }

    &.no-options {
      .ins-select-value-wrap {
        border-bottom-color: var(--ins-color-primary);
        border-radius: var(--ins-border-radius);
      }
      .ins-select-options-wrap {
        display: none;
      }
    }
    .ins-select-value-wrap {
      color: var(--ins-color-ink);
      border-color: var(--ins-color-blue);
      border-bottom-color: transparent;
      border-radius: 4px 4px 0px 0px;
    }
    &:not(.no-options) .ins-select-options-wrap {
      background-color: var(--ins-bg-color);
      border-color: var(--ins-color-blue);
      overflow: auto;
      z-index: 999;
      max-height: 300px;
      margin-top: -1px;

      // &.multiple {
        margin-top: 38px;
      // }
    }

    &.drop-up {
      .ins-select-value-wrap {
        border-bottom-color: var(--ins-color-primary);
        border-radius: 0px 0px 4px 4px;
        border-top-color: transparent;
      }

      &:not(.no-options) .ins-select-options-wrap {
        top: inherit;
        bottom: calc(100% - 20px);
        border-radius: 4px 4px 0px 0px;
        border-bottom-color: transparent !important;
        border-top:
          var(--ins-border-style)
          var(--ins-border-thickness)
          var(--ins-border-color);
      }
    }
  }
  &.is-invalid {
    label {
      color: var(--ins-color-negative);
    }
    .ins-form-error {
      display: block;
      font-size: 12px;
      font-family: var(--ins-font-family);
      line-height: 16px;
      color: var(--ins-color-negative);
      margin-bottom: 20px;
      margin-top: 8px;
      height: 16px !important;
    }
    .ins-select-value-wrap {
      border-color: var(--ins-color-negative);
      color: var(--ins-color-negative);
      background-color: var(--ins-color-red-10p);
    }

    .ins-select-value-input {
      background-color: var(--ins-color-red-10p);
    }

    &.activated {
      .ins-select-options-wrap {
        top: calc(100% - 24px);
        border-color: var(--ins-color-negative);
      }
    }
  }
}

.ins-select-wrap.buttonise {

  display: inline-block;
  background: var(--ins-bg-color2);
  border-radius: var(--ins-border-radius);
  position: relative;

  .ins-select-label-wrap {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: top;
    padding: 7px 7px;
    cursor: default;
    position: relative;

    &.ripple {
      background-position: center;
      transition: background 0.8s;
      border-radius: var(--ins-border-radius);
      &:hover {
        background: #e4e6ec radial-gradient(circle, transparent 1%, #e4e6ec 1%) center/15000%;
      }
      &:active {
        background-color: #d3d9dd;
        background-size: 100%;
        transition: background 0s;
      }
    }
    span {
      font-size: 0.75rem;
      font-weight: 400;
      margin-left: 5px;
      padding-right: 24px;
    }

    cursor: pointer;

    i.icon-caret-down {
      color: var(--ins-color-ink40);
      font-size: 14px;
      line-height: 5px;
      width: 10px;
      height: 5px;
      position: absolute;
      display: block;
      right: 5px;
      top: calc(50% - 2px);
    }
  }

  .ins-select-value-wrap {
    display: inline-block;
    width: auto;
    border: none;
    background: none;
    font-size: 0.75rem;
    height: auto;
    padding-left: 8px;
    padding-right: 24px;
  }

  .ins-select-options-wrap {
    opacity: 0;
    background-color: transparent;
    position: absolute;
    top: calc(100% + 8px);
    min-width: 200px;
    width: 100%;
    left: 0;
    border: solid 1px transparent;
    border-radius: var(--ins-border-radius);
    box-shadow: 0px 0px 0px transparent;
    transition: height 0.15s ease, box-shadow 0.15s ease, border-color 0.15s ease;
    overflow: hidden;
  }

  .ins-select-options-searchbar {
    position: relative;
    padding: 14px;
    border-bottom:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);
    background-color: var(--ins-bg-color);

    .ins-select-value-input {
      border:
        var(--ins-border-style)
        var(--ins-border-thickness)
        var(--ins-border-color);
      padding: 10px 12px;
    }

    .icon-search {
      position: absolute;
      right: 24px;
      top: calc(50% - 8px);
      color: var(--ins-color-ink40);
    }
  }

  .no-result-text {
    margin-top: 16px;
  }

  &.activated {
    .ins-select-label-wrap {
      color: var(--ins-color-ink);
    }

    .ins-select-options-wrap {
      opacity: 1;
      background-color: var(--ins-bg-color);
      border-color: var(--ins-color-ink10);
      box-shadow:
        var(--ins-shadow-x)
        var(--ins-shadow-y)
        var(--ins-shadow-blur)
        var(--ins-shadow-color);
      margin-top: 0;
    }

    &.drop-up {
      .ins-select-options-wrap {
        top: inherit;
        bottom: calc(100% + 8px);
      }
    }
  }

  &.small {
    .ins-select-label-wrap,
    .ins-select-value-wrap {
      font-size: 0.625rem;
    }
    .ins-select-option-wrap {
      font-size: 0.75rem;
    }
  }

  &.disabled {
    .ins-select-label-wrap {
      cursor: not-allowed;
    }
  }
}
