.ins-form-field-wrap {

  .input-wrap {
    position: relative;
  }

  .icon-wrap {
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
    color: var(--ins-color-ink40);
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;

    &.hover:hover {
      color: var(--ins-color-blue);
      cursor: pointer;
    }
  }

  .ins-form-field:focus + .icon-wrap {
    color: var(--ins-color-primary);
  }

  .ins-form-field:focus:read-only + .icon-wrap {
    color: var(--ins-color-ink40);
  }

  .is-invalid .icon-wrap {
    color: var(--ins-color-negative);
  }
}

.ins-input-wrap {

  .unit-right,
  .unit-left {
    position: absolute;
    top: 9px;
    font-size: 14px;
    color: #8C94A4;
    font-family: 'Open Sans', sans-serif;
  }

  .unit-right {
    right: 10px;
  }

  .unit-left {
    left: 10px;
  }

  &.has-icon {
    input {
      padding-right: 32px;
    }
  }

  &.has-unit-right.has-icon {

    input {
      padding-right: 52px;
    }

    .unit-right {
      right: 30px;
    }
  }

  &.has-color {
    .ins-form-field {
      width: calc(100% - 40px - 12px);
      display: inline-block;
    }

    .ins-form-field.color {
      width: 40px;
      padding: 3px 5px;
      float: right;

      &[readonly] {
        background-color: var(--ins-color-disabled_readonly_bg);
      }
    }

    .unit-right {
      right: 60px;
    }

    &.has-icon {
      .icon-wrap {
        right: 60px;
      }

      &.has-unit-right .unit-right {
        right: 82px;
      }
    }
  }
}