.ins-select-option-wrap {
  opacity: 0;
  background-color: var(--ins-bg-color);
  font-family: var(--ins-font-family);
  font-size: .875rem;
  padding: 12px 10px;
  color: var(--ins-color-ink40);
  cursor: pointer;

  &:hover {
    color: var(--ins-color-ink);
    background-color: var(--ins-bg-color2);
  }

  &.selected {
    color: var(--ins-color-ink);
    background-color: var(--ins-bg-color5);
    display: none;
  }

  &.disabled {
    color: #e4e6ec;
    cursor: initial;
  }

  &.disabled:hover {
    background-color: var(--ins-bg-color);
  }

  &.hidden {
    display: none;
  }
}

.ins-select-wrap.activated {
  .ins-select-option-wrap {
    opacity: 1;
  }
}
