.iti__flag {
  background-image: url("/assets/images/intl-tel-input/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("/assets/images/intl-tel-input/flags@2x.png");
  }
}

// Flag dropdown z-index with ins-input-file

.ins-input-tel-wrap {
  .iti {
    input {
      opacity: 0;
      width: 1px;
      padding: 0 !important;
      position: absolute;
      left: 0;
      top: 0;
    }

    .iti__flag-container {
      padding: 0;
      position: relative;

      .iti__selected-flag {
        min-height: 38px;
        font-size: $input_field_font_size;
        border-radius: var(--ins-border-radius);
        background: var(--ins-bg-color);
        border: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color);

        height: auto;
        padding: 8px;
        outline: none;
        width: 94px !important;

        -webkit-transition: var(--ins-border-color) 0.25s ease-in-out, -webkit-box-shadow 0.5s;
        transition: var(--ins-border-color) 0.25s ease-in-out, -webkit-box-shadow 0.5s;
        transition: box-shadow 0.5s, var(--ins-border-color) 0.25s ease-in-out;

        &:hover {
          border-color: var(--ins-color-ink40);
        }
        // &:active,
        &:focus {
          border-color: var(--ins-color-blue);
          box-shadow: none;
        }
      }

      &:hover .selected-flag {
        background-color: var(--ins-bg-color);
      }
    }

    .selected-dial-code {
      padding-left: 25px;
    }

    .iti__country-list {
      z-index: 11;
      font-size: 14px;
      margin-left: 0;
      margin-top: 6px;
      border-radius: var(--ins-border-radius);
      border-color: var(--ins-color-ink10);

      .iti__divider {
        padding: 0;
        margin: 0;
        border-color: var(--ins-border-color);
      }

      .iti__country {
        line-height: 1.6;
      }
    }
  }

  .row-col-container::after {
    display: block;
    content: "";
    clear: both;
  }

  .col-container {
    float: left;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    &.column-2 {
      width: 50px;
      margin: 0 8px;
    }

    &.column-3 {
      width: calc(100% - 162px);
    }

    .iti-arrow {
      border-top: 4px solid var(--ins-color-ink10) !important;
    }
  }

  .icon-caret-down {
    color: var(--ins-color-ink40);
    font-size: 16px;
    position: absolute;
    top: calc(50% - 8px);
    right: 10px;
    border: none;
  }

  &.read-only {
    .iti .iti__flag-container .iti__selected-flag {
      background-color: var(--ins-bg-color5);
      cursor: text;

      &:hover, &:focus {
        border-color: var(--ins-color-ink10);
      }
    }
  }

  &.no-areacode {
    .column-2 {
      display: none;
    }

    .column-3 {
      margin-left: 8px;
      width: calc(100% - 102px);
    }
  }
}

@media only screen and (max-width: 400px) {
  .ins-input-tel-wrap {
    .col-container {
      float: left;

      &.column-2 {
        width: calc(100% - 104px);
        margin: 0 0 9px 9px;
      }

      &.column-3 {
        width: 100%;
        display: block;
        float: none;
      }
    }

    &.no-areacode {
      .column-3 {
        float: left;
        margin-left: 8px;
        width: calc(100% - 102px);
      }
    }
  }
}
