.ins-form-field-wrap {

  .input-wrap {
    position: relative;
  }

  .icon-wrap {
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
    color: var(--ins-color-ink40);
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;

    &.hover:hover {
      color: var(--ins-color-blue);
      cursor: pointer;
    }
  }

  .ins-form-field:focus + .icon-wrap {
    color: var(--ins-color-primary);
  }

  .ins-form-field:focus:read-only + .icon-wrap {
    color: var(--ins-color-ink40);
  }

  .is-invalid .icon-wrap {
    color: var(--ins-color-negative);
  }
}
