@import "../dependencies/flafpickr.scss";

ins-date-time {

  .ins-form-field-wrap .ins-form-field:read-only:not([read-only="false"]) {
    background-color: var(--ins-bg-color);
    color: var(--ins-color-ink);

    &:focus {
      border-color: var(--ins-color-primary);
    }
  }

  .ins-form-field-wrap.disabled,
  .ins-form-field-wrap.readonly {
    .ins-form-field:read-only:not([read-only="false"]){
      background-color: var(--ins-color-disabled_readonly_bg);
      color: var(--ins-color-ink40);
    }
  }

  i[class^="icon-"] {
    font-size: 16px;
    position: absolute;
    right: 8px;
    top: calc(50% - 8px);
    color: #8c94a4;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
  }

  i.with-label {
    top: calc(50% + 1px);
  }

  &[disabled] {
    input {
      cursor: not-allowed !important;
    }
  }

  .ins-date-time-wrap,
  .ins-datepicker-wrap {
    position: relative;

    .flatpickr-calendar {

      &.noCalendar.showTimeInput.hasTime {
        padding: 7px;
        width: auto;
        border-radius: var(--ins-border-radius);

        .flatpickr-time {
          border: 0;
          padding-top: 0;
        }
      }

      border-radius: 0;
      margin-top: 4px;
      background-color: var(--ins-bg-color);
      font-family: var(--ins-font-family);
      font-size: 12px;
      font-weight: 400;

      -webkit-box-shadow: 0 2px 4px 0 rgba(15, 21, 38, 0.14),
        1px 1px 3px 0 rgba(140, 148, 164, 0.2);

      box-shadow: 0 2px 4px 0 rgba(15, 21, 38, 0.14),
        1px 1px 3px 0 rgba(140, 148, 164, 0.2);

      padding: 7px 7px 12px;

      top: 60px !important;
      right: initial !important;
      left: 0 !important;

      .flatpickr-month {
        height: 30px;
      }

      .flatpickr-months .flatpickr-prev-month svg,
      .flatpickr-months .flatpickr-next-month svg {
        display: none;
      }

      .flatpickr-months {
        background: var(--ins-bg-color5);
        color: var(--ins-color-ink);
        padding: 4px;
        position: relative;
        padding-top: 6px;

        .flatpickr-prev-month,
        .flatpickr-next-month  {

          top: calc(50% - 14px);

          &:before {
            content: " ";
            display: block;
            border-left: 2px solid var(--ins-bg-color3);
            border-top: 2px solid var(--ins-bg-color3);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            cursor: pointer;
            width: 8px;
            height: 8px;
          }

          &:hover:before {
            border-left: 2px solid #2C3148;
            border-top: 2px solid #2C3148;
          }
        }

        .flatpickr-prev-month {
          left: 2px;
        }

        .flatpickr-next-month {
          right: 2px;

          &:before {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
          }
        }

        .flatpickr-current-month {
          font-size: 14px;
          padding: 0;
          height: 30px;

          select {
            background-color: var(--ins-bg-color);
            border:
              var(--ins-border-style)
              var(--ins-border-thickness)
              var(--ins-border-color);

            font-size: 14px;
            box-shadow: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            display: inline-block;
            padding: 5px;
            width: auto;
            height: auto;
            margin-right: 5px;
            border-radius: 3px;
            line-height: 18px;
          }

          .numInputWrapper {
            width: 8ch;

            &:hover {
              background-color: transparent;
            }

            span {
              position: absolute;
            }

            input {
              background-color: var(--ins-bg-color);
              border-radius: var(--ins-border-radius);
              border:
                var(--ins-border-style)
                var(--ins-border-thickness)
                var(--ins-border-color);

              font-size: 14px;
              padding: 4px 12px 5px 6px;
              box-shadow: none;
              box-sizing: border-box;
            }
          }
        }
      }

      .flatpickr-rContainer {
        margin-left: -7px;

        .flatpickr-weekdays,
        .dayContainer {
          padding: 0 7px;
          background-color: var(--ins-bg-color5);
          height: auto;
          box-sizing: border-box;
        }

        .flatpickr-weekdaycontainer {
          padding: 10px 0;
          border-bottom:
            var(--ins-border-style)
            var(--ins-border-thickness)
            var(--ins-border-color);
        }

        .flatpickr-weekday {
          font-size: 12px;
          font-weight: 400;
          color: var(--ins-color-ink40);
        }

        .flatpickr-days {
          font-size: 12px
        }

        .flatpickr-day {
          border-radius: 0;
          line-height: 30px;
          height: 32px;
          color: var(--ins-color-ink);

          &.prevMonthDay,
          &.nextMonthDay,
          &.flatpickr-disabled {
            color: var(--ins-color-ink10);
          }
        }

        .flatpickr-day.today {
          border-color: transparent;
        }

        .flatpickr-day.selected {
          color: var(--ins-color-white);
          background: var(--ins-color-blue);
          border:
            var(--ins-border-style)
            var(--ins-border-thickness)
            var(--ins-color-blue);
        }
      }

    }
    .flatpickr-calendar.arrowTop:before,
    .flatpickr-calendar.arrowTop:after {
      display: none;
    }

    .flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
      height: auto;
      border-top:
        var(--ins-border-style)
        var(--ins-border-thickness)
        var(--ins-border-color);

      display: block;
      padding-top: 5px;

      .numInputWrapper {
        float: none;
        width: auto;
        height: auto;
        display: inline-block;
        margin: 0 5px;

        input {
          color: var(--ins-bg-ink);
          background-color: var(--ins-bg-color);
          border-radius: var(--ins-border-radius);
          border:
            var(--ins-border-style)
            var(--ins-border-thickness)
            var(--ins-border-color);

          padding: 0 17px 0 5px;
          box-sizing: border-box;
          display: block;
          text-align: left;
          height: 26px;
          font-weight: 400;
          font-size: 14px;
          box-shadow: none;
          box-sizing: border-box;
        }
      }

      .flatpickr-time-separator,
      .flatpickr-am-pm {
        float: none;
        width: auto;
        height: auto;
        display: inline-block;
        color: var(--ins-bg-ink);
      }

      .flatpickr-am-pm {
        font-size: 14px;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
