// @import "../dependencies/dropzone";

ins-input-file {
  // disable state
  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;

    .ins-dropzone {
      border-color: var(--ins-bg-color4);
      .dz-message {
        color: var(--ins-color-ink40);
        opacity: 0.5;
      }
      .dz-clickable {
        cursor: not-allowed;
      }
      .dz-details {
        opacity: 1;
        pointer-events: initial;
      }
      .dz-preview {
        min-height: 70px;
      }
      .dz-remove {
        display: none;
      }
    }
    .ins-input-file-wrapper {
      label,
      .file-restrictions {
        color: var(--ins-color-ink40);
      }
    }
  }

  // Error state style
  &[has-error] {
    .ins-dropzone {
      border-color: var(--ins-color-negative);
      background-color: var(--ins-color-red-10p);
    }

    label,
    .dz-message,
    .ins-input-file-wrapper.is-invalid .ins-form-error,
    .ins-input-file-wrapper.is-invalid .file-restrictions {
      color: var(--ins-color-negative);
    }
    .ins-input-file-wrapper.is-invalid .ins-form-error {
      display: block;
      margin-bottom: 20px;
    }
  }

  .file-restrictions {
    font-size: 12px;
    font-weight: 600;
    color: var(--ins-color-ink);
    font-family: var(--ins-font-family);
    margin-bottom: 2px;
  }
  .file-restrictions span {
    font-weight: 400;
    margin-bottom: 0;
  }
}

.ins-input-file-wrapper .ins-form-error {
  display: none;
  font-size: 12px;
  font-family: var(--ins-font-family);
  line-height: 16px;
}

.ins-dropzone {
  border: 2px dashed;
  border-color: var(--ins-color-ink10);
  margin-top: 4px;
  margin-bottom: 8px;
  border-radius: 5px;
  width: 100%;
  min-height: 80px;
  padding: 10px;
  background: none;
  font-family: var(--ins-font-family);

  .dz-message {
    color: var(--ins-color-ink40);
    font-style: italic;
    font-size: 14px;
  }

  .dz-preview {
    width: 85px;
    max-width: 85px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    &.dz-image-preview {
      background-color: transparent;
    }
    .dz-remove {
      margin-top: 2px;
      font-size: 10px;
      color: var(--ins-color-blue);
    }
    .dz-image {
      border-radius: var(--ins-border-radius);
      width: 100%;
      height: initial;
      min-height: 85px;
      max-height: 85px;

      // file type application/*
      &[class*="icon-"] {
        font-size: 46px;
        color: var(--ins-color-ink10);
        background: none;
        text-align: center;
        position: relative;
        &:before {
          position: relative;
          top: 4px;
        }

        img {
          display: none;
        }
        & ~ .dz-details {
          opacity: 1;
        }
      }
    }
    .dz-details {
      padding: 1.5em 0.5em;
    }
    .dz-progress {
      display: none;
    }
  }

  // auto upload
  &.auto-upload {
    .dz-preview {
      .dz-progress {
        height: 12px;
        display: block;
        // background: #8c94a4;
      }
      .dz-success-mark,
      .dz-error-mark {
        top: 40%;
      }

      .dz-success-mark {
        color: var(--ins-color-green);
      }

      .dz-error-mark {
        color: var(--ins-color-negative);
      }
    }
  }
}
