ins-markdown-editor {
  .markdown-editor-wrap.ins-form-field {
    padding: 0;
  }

  .ins-markdown-editor {
    margin-bottom: 15px;

    &.active {
      .editor-toolbar:not(.fullscreen) {
        border: none;
      }

      .CodeMirror-wrap:not(.CodeMirror-fullscreen) {
        border: none;

        &.CodeMirror-sided {
          border-right: none;
        }
      }
    }

    label {
      font-size: 12px;
      font-weight: 600;
      color: var(--ins-color-ink);
      font-family: var(--ins-font-family);
      margin-bottom: 2px;

      &.disabled {
        color: var(--ins-color-ink40);
      }

      &.active {
        color: var(--ins-color-blue);
      }
    }
    .editor-toolbar {
      opacity: 1;
      background: var(--ins-bg-color4);
      padding: 16px;
      border: none;

      &:hover {
        opacity: 1;
      }

      &.fullscreen {
        z-index: 1051;
        height: 66px;
        padding: 16px;
        background: var(--ins-bg-color4);
      }

      &::before,
      &::after,
      .separator {
        display: none;
      }

      a {
        background: var(--ins-bg-color2);
        border: none;
        margin-right: 2px;
        font-size: $input_field_font_size;
        border-radius: var(--ins-border-radius);
        color: $ink40 !important;
        height: 34px;
        width: 34px;

        &::before {
          line-height: 34px;
        }

        &:hover,
        &.active {
          background: var(--ins-color-blue);
          color: var(--ins-color-white) !important;
        }
        &:focus,
        &:active {
          outline: none;
        }
      }
      &.disabled-for-preview {
        a:not(.no-disable) {
          opacity: 0.4;
          background: var(--ins-bg-color2);
        }
      }
    }
    .CodeMirror {
      &-fullscreen {
        top: 66px;
        z-index: 99999;
        border-radius: 0;
      }
      // border: $border_thickness $border_style rgba(0,0,0,.1);
      // border-top: none;
      border: none;
    }
    .editor-preview-side {
      top: 66px;
      z-index: 99999;
      border-radius: 0;
      border-top: none;
      border-left: none;
    }
    &.is-invalid {

      .editor-toolbar:not(.fullscreen) {
        border:
          var(--ins-border-style)
          var(--ins-border-thickness)
          var(--ins-color-negative);
        border-bottom: none;
      }

      .CodeMirror-wrap:not(.CodeMirror-fullscreen) {
        border-top: none;
        border:
          var(--ins-border-style)
          var(--ins-border-thickness)
          var(--ins-color-negative);

        &.CodeMirror-sided {
          border-right: none;
        }
      }

      label {
        color: var(--ins-color-negative);
      }

      .ins-form-error {
        margin-top: 8px;
        display: block;
        font-size: 12px;
        font-family: var(--ins-font-family);
        line-height: 16px;
        color: $red;
        margin-bottom: 20px;
      }
    }
  }
}
