ins-input-multiple {
  .ins-input-multiple {
    margin-bottom: 15px;

    label {
      font-size: 12px;
      font-weight: 600;
      color: var(--ins-color-ink);
      margin-bottom: 2px;
    }
    .error-message {
      display: none;
      font-size: 12px;
      line-height: 16px;
      color: var(--ins-color-red);
    }
    &-container {
      padding: 6px 4px;
      padding-bottom: 0;
      width: 100%;
      background: var(--ins-bg-color);
      border-radius: var(--ins-border-radius);
      border: var(--ins-border-style) var(--ins-border-thickness) var(--ins-border-color);

      margin-bottom: 4px;
      font-size: 0.875rem;
      position: relative;
      color: var(--ins-color-ink40);
      cursor: pointer;
      -webkit-transition: border-color 0.15s ease-in, border-radius 0.15s ease-in;
      transition: border-color 0.15s ease-in, border-radius 0.15s ease-in;

      &.ins-form-field {
        padding: 6px 8px;
      }

      input {
        background: var(--ins-bg-color);
      }

      &:hover {
        border-color: var(--ins-bg-color3);
      }
    }
    &.active {
      label {
        color: var(--ins-color-blue);
      }
      .ins-input-multiple-container {
        border: var(--ins-border-style) var(--ins-border-thickness)  var(--ins-color-blue);
      }
    }
    &.has-error {
      label {
        color: var(--ins-color-red);
      }
      .error-message {
        display: block;
      }
      .ins-input-multiple-container {
        border: var(--ins-border-style) var(--ins-border-thickness)  var(--ins-color-red);
        background: var(--ins-color-red-10p);

        input {
          background: var(--ins-color-red-10p);
        }

      }
    }
    &.disabled {
      label {
        color: var(--ins-color-ink40);
      }
    }
    &-choice {
      display: inline-block;
      background: var(--ins-bg-color2);
      padding: 2px 8px;
      border-radius: 5px;
      position: relative;
      padding-right: 28px;
      margin: 0 5px 6px 5px;
      cursor: pointer;
      span {
        font-size: 14px;
        color: var(--ins-color-ink);
      }
      .icon-close {
        color: var(--ins-color-ink40);
        font-size: 7px;
        margin-left: 10px;
        position: absolute;
        right: 8px;
        top: calc(50% - 4px);
      }
    }
    &-text {
      width: 100%;
      display: block;
      margin-bottom: 0;
      position: relative;

      input,
      input:focus,
      input:active {
        border: none;
        outline: none;
        box-shadow: none;
        margin-bottom: 0;
        padding: 0 5px;
        height: 25px;
      }

      .icon-add {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        padding: 7px;
        padding-right: 2px;
        border-radius: 4px;
        color: var(--ins-color-ink40);
      }
    }

    &.readonly,
    &.disabled {
      .ins-input-multiple-choice {
        padding-right: 8px;
      }
      .has-value-readonly {
        display: none;
      }
      input {
        background: var(--ins-bg-color);
      }
      .ins-input-multiple-container {
        border-color: var(--ins-bg-color2);
        background-color: var(--ins-bg-color5);
        color: var(--ins-color-ink40);

        &:hover {
          border-color: var(--ins-bg-color2);
        }
      }
    }
  }
}