.ins-select-wrap {
  font-family: var(--ins-font-family);
  color: var(--ins-color-ink);
  position: relative;
  margin-bottom: 20px;

  .main-spinner-wrap {
    display: none;
    position: absolute;
    right: 21px;
    top: 27px;
  }

  &.initializing {
    .main-spinner-wrap {
      display: block;
    }
  }

  .spinner-wrap {
    height: 32px;
    position: relative;
    display: none;
  }

  .spinner {
    border-width: 2px;
    position: absolute;
    border: 3px solid var(--ins-color-ink40);
    border-left: 3px solid var(--ins-bg-color);

    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    left: calc(50% - 4px);
    top: 8px;

    &, &:after {
      border-radius: 50%;
      width: 16px;
      height: 16px;
    }
  }

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .ins-select-label-wrap {
    font-family: var(--ins-font-family);
    font-size: 12px;
    font-weight: 600;
    color: var(--ins-color-ink);
    margin-bottom: 3px;
    display: block;
    line-height: 1.4;
    min-height: 20px;
  }

  .ins-select-value-wrap {
    min-height: 39px;
    background: var(--ins-bg-color);
    border-radius: var(--ins-border-radius);
    border:
      var(--ins-border-style)
      var(--ins-border-thickness)
      var(--ins-border-color);

    font-size: .875rem;
    position: relative;
    color: var(--ins-color-ink40);
    cursor: pointer;

    &:hover {
      border-color: var(--ins-color-ink40);
    }

    &:focus {
      outline: none;
      border-color: var(--ins-color-blue);
    }

    &.multiple {

      .multiple-item-wrap {
        display: inline-block;
        background-color: var(--ins-bg-color2);
        border-radius: var(--ins-border-radius);
        margin: 6px 4px;
        font-size: 14px;
        padding: 2px 8px;
        position: relative;
        padding-right: 28px;
        color: var(--ins-color-ink);

        .icon-close {
          font-size: 7px;
          margin-left: 10px;
          position: absolute;
          color: var(--ins-color-ink40);
          padding: 4px;
          top: calc(50% - 8px);
          right: 4px;
          cursor: pointer;

          &:hover {
            color: #2c3148;
          }
        }
      }

      .multiple-placeholder {
        padding: 10px;
      }

      &.has-value .ins-select-value-input {
        display: none;
      }
    }
    i.icon-caret-down {
      font-size: 16px;
      position: absolute;
      right: 11px;
      top: calc(50% - 8px);
      color: var(--ins-color-ink40);
    }
  }

  .ins-select-value-input {
    display: block;
    width: 100%;
    padding: 11px 10px;
    padding-right: 30px;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: var(--ins-border-radius);
    font-size: .875rem;
    background: var(--ins-bg-color);
    color: var(--ins-color-ink);

    &::-webkit-input-placeholder {
      color: var(--ins-color-ink40);
    }
    &::-moz-placeholder {
      color: var(--ins-color-ink40);
    }
    &:-ms-input-placeholder {
      color: var(--ins-color-ink40);
    }
    &:-moz-placeholder {
      color: var(--ins-color-ink40);
    }

    &:focus,
    &:hover,
    &.active {
      border: none;
      outline: none;
      box-shadow: none;
    }

    &[readonly] {
      background-color: var(--ins-bg-color);
      cursor: text;
    }

    &[disabled] {
      background-color: var(--ins-bg-color5);
      color: var(--ins-color-ink40);
      cursor: not-allowed;
    }
  }

  .done-wrap {
    // position: absolute;
    top: 0;
    background-color: var(--ins-bg-color5);
    font-family: var(--ins-font-family);
    font-size: .875rem;
    padding: 10px;
    color: var(--ins-color-ink40);
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      color: var(--ins-color-ink);
      background-color: var(--ins-bg-color2);
    }
  }

  .scroll-wrap {
    // margin-top: 42px;
    max-height: 226px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--ins-bg-color2);
      border-radius: 16px;
      outline: none;
    }
  }

  .ins-select-options-wrap {
    background-color: transparent;
    border: solid 1px transparent;
    border-radius: 0px 0px 4px 4px;
    box-sizing: border-box;
    border-top: none;
    overflow: hidden;
    height: 0;
    position: absolute;
    z-index: 990;
    width: 100%;

    &.with-dynamic-option {
      .scroll-wrap {
        max-height: calc(222px - 72px);
      }
      .dynamic-option-wrap {
        display: flex;
      }
    }

    &.searching {
      .ins-select-option-wrap {
        display: none;
      }

      .dynamic-option-wrap {
        display: none;
      }

      .spinner-wrap {
        display: block;
      }
    }

    &.loading {
      .spinner-wrap {
        display: block;
      }
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: none;
      -webkit-box-shadow: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--ins-bg-color2);
      border-radius: 16px;
      outline: none;
    }

    .no-result-text,
    .no-more-options {
      font-size: 0.875rem;
      padding: 10px;
      margin-bottom: 0;
      display: none;
    }

    &.no-result {
      .no-result-text {
        display: block;
      }

      .no-more-options {
        display: none;
      }
    }

    &.drop-up {
      top: inherit;
      bottom: calc(100% + 8px);
    }
  }

  .dynamic-option-wrap {
    padding: 16px;
    border-top: solid 1px #e4e6ec;
    display: none;

    &::after {
      clear: both;
      content: "";
      display: block;
    }

    .dynamic-option-input-wrap {
      flex: 9;
    }

    input {
      width: calc(100% - 15px);
      height: auto;
      min-height: 36px;
      margin-bottom: 0;
      margin-right: 14px;
      padding: 0px 8px 1px;
      box-sizing: border-box;
      box-shadow: none;
      border-radius: 4px;
      border: 1px solid #E4E6EC;

      font-family: 'Open Sans', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #2C3148;

      &:focus {
        border-color: #1e86e3;
        box-shadow: none;
        outline: 0;
      }

      &.invalid {
        color: #f27474;
        border-color: #f27474;
        background-color: #F8EDEE;
      }
    }

    button {
      height: 36px;
      padding: 0 16px;
      border: none;
      border-radius: 4px;
      background-color: #1e86e3;
      outline: none;

      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 12px;
      color: #ffffff;
      letter-spacing: 1px;
      text-transform: uppercase;

      -webkit-tap-highlight-color: transparent;
      appearance: none;
      cursor: pointer;
    }

    .error-message {
      display: block;
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      line-height: 16px;
      color: #F27474;
      margin-top: 2px;
      float: left;
      width: 100%;
    }
  }

  &.readonly, &.disabled {
    .ins-select-value-wrap {
      background-color: #FAFBFC;
      cursor: not-allowed;

      &:hover {
        border-color: #E4E6EC;
      }

      &.multiple .multiple-item-wrap {

        .icon-close {
          cursor: not-allowed;

          &:hover {
            color: #8c94a4;
          }
        }
      }
    }
  }

  &.readonly {

    .ins-select-value-input[readonly] {
      border-color: #E4E6EC !important;
      background-color: #FAFBFC;
      color: #8C94A4;
    }
  }

  &.disabled {
    color: #8C94A4;

    .ins-select-label-wrap {
      color: #8C94A4;
    }

    .ins-select-value-wrap {

      &.multiple .multiple-item-wrap {
        color: #8c94a4;
      }

      &:focus {
        outline: none;
        border-color: #e4e6ec;
      }
    }
  }

  &.activated {

    label {
      color: var(--ins-color-primary);
    }

    .ins-select-value-wrap {
      color: var(--ins-color-ink);
      border-color: var(--ins-color-blue);
      border-bottom-color: transparent;
      border-radius: 4px 4px 0px 0px;
      cursor: initial;

        &.multiple .ins-select-value-input {
          display: block;
        }
    }

    .ins-select-options-wrap {
      background-color: var(--ins-bg-color);
      border-color: var(--ins-color-blue);
      // position: relative;
      margin-top: -1px;
      height: auto;

      // &.drop-up {
      //   top: inherit;
      //   bottom: 0;
      //   margin-top: 0;
      //   border-radius: 4px;
      //   border-top: solid 1px var(--ins-color-blue);
      // }
    }

    &.drop-up {
      .ins-select-value-wrap {
        border-bottom-color: var(--ins-color-primary);
        border-radius: 0px 0px 4px 4px;
        border-top-color: transparent;
      }

      .ins-select-options-wrap {
        top: inherit;
        bottom: 39px;
        border-radius: 4px 4px 0px 0px;
        border-bottom: none;
        border-top:
          var(--ins-border-style)
          var(--ins-border-thickness)
          var(--ins-color-blue);

        margin: 0;
      }
    }
  }
  &.is-invalid {
    label {
      color: var(--ins-color-negative);
    }
    .ins-form-error {
      display: block;
      font-size: 12px;
      font-family: var(--ins-font-family);
      line-height: 16px;
      color: var(--ins-color-negative);
      margin-bottom: 20px;
      margin-top: 8px;
      height: 16px !important;
    }

    .ins-select-value-wrap {
      border-color: var(--ins-color-negative);
      color: var(--ins-color-negative);
      background-color: var(--ins-color-red-10p);
    }

    .ins-select-value-input {
      background-color: var(--ins-color-red-10p);
    }

    &.activated {
      .ins-select-options-wrap {
        top: calc(100% - 24px);
        border-color: var(--ins-color-negative);
      }

      &.drop-up .ins-select-value-wrap {
        border-bottom-color: var(--ins-color-negative);
      }

      &.drop-up .ins-select-options-wrap {
        top: initial;
        border-top-color: var(--ins-color-negative);
      }
    }
  }
  &.no-options {
    .no-more-options {
      display: block;
    }
  }
}